---
import MainLayout from "@/layouts/MainLayout.astro";
import MainHeader from '@/components/MainHeader.astro';
import Content from './content.vue';
---
<MainLayout title="时装发布会">
    <MainHeader transition:persist="gge-header" transition:persist></MainHeader>
    <div class="pt-32">
        <!-- <p class="text-4xl text-center m-4">秀场</p> -->
        <Content client:load></Content>
    </div>
</MainLayout>
