.btn-dark {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    @apply text-black bg-white;
}

/* 悬停效果 */
.btn-dark:hover {
    @apply text-white bg-slate-900
}

.btn-sm {
    @apply px-2 py-1 text-sm text-center;
}

.btn-light {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    @apply text-white bg-black border;
}

body {
    --font-family-body: nimbus-sans-d,Arial,sans-serif,Microsoft Yahei;
    --font-family-heading: nimbus-sans-d,Arial,sans-serif,Microsoft Yahei;
    --font-size-base: 14px;
    font-family: var(--font-family-body);
    font-size: var(--font-size-base);
}