.btn-dark {
    /* display: inline-block; */
    --background-color:hsl(0 0% 6%);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    /* font-weight: bold; */
    text-align: center;
    cursor: pointer;
    /* transition: background-color 0.3s, color 0.3s, border-color 0.3s; */
    background-color: var(--background-color);
    @apply text-white rounded-lg;
}

/* 悬停效果 */
.btn-dark:hover {
    --background-color: hsl(0, 0, 30%);
    /* @apply text-white */
}

/* .form-button:not([disabled]):hover {
    opacity: .7
} */

.btn-sm {
    @apply px-2 py-1 text-sm text-center;
}

.btn-light {
    /* display: inline-block; */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    /* font-weight: bold; */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    @apply text-black bg-transparent rounded-lg;
}

.btn-light:hover {
    background-color: hsl(0 0% 96%);
}

input {
    height: 46px;
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* input:hover {
    @apply border border-green-200;
} */

/* input:focus {
    @apply border border-gray-950;
} */

body {
    
    --font-family-body: nimbus-sans-d,Arial,sans-serif,Microsoft Yahei;
    --font-family-heading: nimbus-sans-d,Arial,sans-serif,Microsoft Yahei;
    --font-size-base: 14px;
    font-family: var(--font-family-body);
    font-size: 12px;
}