---
import MainLayout from '../layouts/MainLayout.astro';
import MainHeader from '../components/MainHeader.astro';
import Icon from 'astro-icon';
const panelSearchNav = [
'项目',
'资源',
'图像',
'原型',
'直播',
'人物',
'情绪板',
];
---
<style>
	.search-bar-wrapper {
		/* background-color: #f9f9f9; */
		border: 1px solid #ccc;
	}

	.panel-search-header {
		background-color: #fff;
		border-bottom: 1px solid #f2f2f2;
		padding: 24px;
		padding-bottom: 21px;
		position: fixed;
		top: 55px;
		width: 100%;
		z-index: 3;
	}
</style>
<MainLayout title="Welcome to Akke.">
	<MainHeader></MainHeader>
	<div class="panel">
		<main>
			<header class="panel-search-header">
				<div class="search-bar-wrapper relative flex rounded-full">
					<div class="search-bar flex relative justify-center flex-col grow">
						<div class="search-container">
							<div class="search-input-wrapper flex">
								<div class="search-icon w-12 flex justify-center">
									<Icon class="h-6 w-6" name="ion:ios-search-strong" />
								</div>
								<div class="search-form relative flex-1">
									<input type="search" name="search" autocomplete="off" autocapitalize="off" class="search-input h-full w-full absolute top-0 outline-none" placeholder="搜索工作中的创意世界" tabindex="0" aria-label="搜索 Behance" aria-expanded="false" role="combobox" maxlength="100">
								</div>
							</div>
						</div>
					</div>
					<nav>
						<ul class="flex py-2 px-4">
							{
								panelSearchNav.map(item => (
									<li class="pr-2">
										<button class="btn-dark px-3 py-2  lg:px-4 text-sm rounded-full transition hover:bg-slate-800 border border-slate-900 font-medium mr-2">{item}</button>
									</li>
								))
							}
						</ul>
					</nav>
				</div>
			</header>
		</main>
	</div>
</Layout>
