---
import MainLayout from '../layouts/MainLayout.astro';
import MainHeader from '../components/MainHeader.astro';
import DescriptionSelection from '@/components/astroComponents/Description.astro'
import TStageSelection from '@/components/astroComponents/Tstage.astro'
import BrandSelection from '@/components/astroComponents/Brand.astro'
import Footer from '@/components/astroComponents/Footer.astro'
---
<MainLayout title="Welcome to GogoEx.">
	<!-- 头部内容 -->
	<header>
		<MainHeader transition:persist="gge-header"></MainHeader>
	</header>
	<!-- 主题内容 -->
	<main class="mt-14">
		<DescriptionSelection></DescriptionSelection>
		<TStageSelection></TStageSelection>
		<BrandSelection></BrandSelection>
	</main>
	<!-- 底部内容 -->
	<footer>
		<Footer></Footer>
	</footer>
</Layout>
