---
import Layout from "src/layouts/Layout.astro";
import IconWechat from '@/assets/icons/IconWechat.vue'
import IconLogo from '@/assets/icons/IconLogo.vue'
---
<style>
button {
    @apply my-4;
}
 .separator:after,.separator:before {
    right: 0;
    border-top-width: 1px;
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 2em);
}

.separator:before {
    left: 0;
    border-top-width: 1px;
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 2em)
}
</style>
<Layout title="登入 GogoEx">
    <div class="bg-light">
        <div class="mx-auto max-w-[400px] flex flex-col justify-center min-h-screen">
            <a href="index.html">
                <IconLogo />
              </a>
            <div class="p-8 sm:p-lg w-full m-auto bg-white rounded shadow-lg ring-t-2 ring-slate-300/50" >
                
              <div class="text-center p-6 rounded-t">
                
                <h3 class="font-semibold text-black text-xl mb-1">欢迎来到GogoEx</h3>
                <p class="text-xs text-slate-900">在此登录，以确保获得更好的浏览体验。</p>
              </div>
              <form>
                <div class="mb-3">
                  <label for="email" class="font-medium text-sm text-slate-600 dark:text-slate-400">邮箱/手机</label>
                  <input type="email" id="email" class="form-input w-full mt-1 border  bg-transparent px-3 py-1 focus:outline-none " placeholder="请输入邮箱/手机" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="font-medium text-sm text-slate-600 dark:text-slate-400">密码</label>
                  <input type="password" id="password" class="form-input w-full mt-1 border  bg-transparent px-3 py-1 focus:outline-none " placeholder="请输入密码" required>
                </div>
                <div class="mt-3">
                    <a href="#" class="my-2 text-xs font-medium text-brand-500 underline ">忘记密码?</a>
                </div>
            </form>
            <button class="w-full btn-light px-3 bg-slate-900  text-sm transition border border-slate-900 flex items-center justify-center">
                登录
            </button>
            <span class="my-4 separator block text-center my-lg uppercase text-muted text-xs py-xs relative">
              或
            </span>
            <div class="text-muted text-xs leading-tight pb-xs">
              通过登录，则表示您同意我们的<a href="https://hbx.com/cn/terms" class=" underline">使用条款</a>及<a href="https://hbx.com/cn/privacy" class="underline ">隐私政策</a>。
            </div>
            <button class="w-full btn-dark border hover:bg-white px-3 py-2 lg:px-4 flex justify-center items-center">
                <IconWechat class="mr-2 text-lime-500" />
                通过微信登录
            </button>
            <hr class="mt-8 mb-6">
            <p class="text-center">还未拥有账号?</p>
                <a href="/register" class="w-full btn-light my-4 bg-slate-900 text-sm block">
                    注册
                </a>
            </div>
            <div class="mt-lg text-center">
              <div class="flex flex-row flex-wrap justify-center text-muted text-xs leading-tight">
                  <span class="pr-xs">2024 <a href="https://hypebeast.ltd/">Akke Limited</a> 版权所有</span>
                  <a href="https://hbx.com/cn/terms" target="_blank" class="pr-xs">网站声明</a>
                  <a href="https://hbx.com/cn/privacy" target="_blank" class="pr-xs">隐私政策</a>
              </div>
          </div>
          </div>
    </div>
</Layout>
