---
const language = ['English'];
---
<style>
footer a {
  @apply px-4 font-bold text-xs text-slate-600 cursor-pointer;
}

.footer-other a:hover {
  @apply text-blue-500 no-underline;
}
footer .link:hover {
  color: #0057ff;
  text-decoration: none;
}


.footer-more-btn::after {
  content: "";
  display: inline-block;
  left: 3px;
  position: relative;
  top: -2px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid dimgray;
  height: 0;
  width: 0
}

.footer-language-btn::after {
  content: "";
  display: inline-block;
  left: 3px;
  position: relative;
  top: -2px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid dimgray;
  height: 0;
  width: 0
}

.footer-more-btn:hover::after {
  @apply rotate-180;
}

.footer-language-btn:hover::after {
  @apply rotate-180;
}

/* .footer-more-wrapper:hover .footer-more-tooltip {
  display:block;
} */

.Tooltip-topPositionHitBox-Q8Z {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.arrow {
  box-sizing: border-box;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  --tw-rotate: -45deg;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  border-color: rgba(0,0,0,var(--tw-border-opacity));
}
</style>
<footer>
  <div class="flex fixed bottom-1 border-t border-slate-950 w-full">
    <div class="footer-more group/more pt-1">
      <div class="group/more footer-more-wrapper">
        <span class="footer-more relative">
          <a class="footer-more-btn">
            更多 Behance
          </a>
        </span>
        <!-- <div class="Tooltip-topPositionHitBox-Q8Z" style="height: calc(100% + .75rem);"></div> -->
        <div class="footer-more-tooltip group-hover/more:block absolute bottom-[calc(100%)] border border-slate-950 py-2 pr-2 left-5 bg-white z-50 hidden">
          <div class="absolute bottom-0 left-3">
            <div class="arrow border-l border-b top-px z-50 w-2 h-2 absolute rotate-45 border-slate-950"></div>
          </div>
          <ul class="flex flex-col-reverse">
            <li class="">
              <a class="" href="/careers" target="_blank">
                Behance 中的工作机会
              </a>
            </li>
            <li class="">
              <a href="https://portfolio.adobe.com/?promoid=ZKD5FJ7P&mv=other" target="_blank">
                Adobe Portfolio
              </a>
            </li>
            <li class="">
              <a href="/blog" target="_blank">
                博客
              </a>
            </li>
            <li class="">
              <a aria-expanded="false">
                下载应用程序
              </a>
            </li>
            <li class="">
              <a href="/about" target="_blank">
                关于 Behance
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-languages pt-1">
      <div class="Tooltip-wrapper-Uzv Tooltip-responsive-XDl group/languages">
        <span class="Tooltip-trigger-eZ_">
          <a class="footer-language-btn relative" aria-expanded="false" aria-label="当前选择的语言：中文(简体)">
            中文(简体)
          </a>
        </span>
        <!-- <div class="Tooltip-topPositionHitBox-Q8Z" style="height: calc(100% + 5px + 6px)">
        </div> -->
        <div class="hidden group-hover/languages:block absolute drop-shadow bottom-[calc(100%+12px)] border py-2 pr-2 rounded-md z-50 bg-white">
          <div class="absolute bottom-0 left-3">
            <div class="absolute border-8 border-transparent border-t-[#fff]"></div>
          </div>
          <ul class="LanguageSelector-tooltipContainer-cBd" role="menu" aria-label="语言选项">
            {
              language.map(item => (
                <li class="LanguageSelector-footerSelectorItem-m2u" role="menuitem">
                  <a
                    class="LanguageSelector-resetButton-qrR LanguageSelector-footerSelectorLinks-h87 e2e-LanguageSelector-en_US"
                    data-language-locale="en_US"
                    lang="en-US">
                    English
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-other pt-1">
      <ul class="flex items-center">
        <li class="">
          <a href="http://www.adobe.com/legal/terms.html" target="_blank">
            使用条款
          </a>
        </li>
        <li class="">
          <a href="http://www.adobe.com/privacy.html" target="_blank">
            隐私
          </a>
        </li>
        <li class="">
          <a href="/misc/community" target="_blank">
            社区
          </a>
        </li>
        <li class="">
          <a href="https://help.behance.net/" target="_blank">
            帮助
          </a>
        </li>
        <li>
          <a aria-label="Cookie 偏好设置">
            Cookie 偏好设置
          </a>
        </li>
        <li class="">
          <a href="https://www.adobe.com/privacy/us-rights.html" target="_blank">
            不得出售或共享我的个人信息
          </a>
        </li>
      </ul>
    </div>
    <div class="ml-auto">
      <a>v1.0</a>
    </div>
  </div>
</footer>
