---
const language = ['English'];
---
<style>
footer a {
  @apply px-4 font-bold text-xs text-slate-600 cursor-pointer;
}

.wrapper {
  @apply pt-1 pb-1;
}

.tooltip {
  @apply absolute bottom-[calc(100%)] border border-slate-950 py-2 pr-2 bg-white z-50 hidden;
}

.footer-other a:hover {
  @apply text-blue-500 no-underline;
}

footer .link:hover {
  color: #0057ff;
  text-decoration: none;
}

.footer-more-btn::after {
  content: "";
  display: inline-block;
  left: 3px;
  position: relative;
  top: -2px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid dimgray;
  height: 0;
  width: 0
}

.footer-language-btn::after {
  content: "";
  display: inline-block;
  left: 3px;
  position: relative;
  top: -2px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid dimgray;
  height: 0;
  width: 0
}

.footer-more-btn:hover::after {
  @apply rotate-180;
}

.footer-language-btn:hover::after {
  @apply rotate-180;
}

.arrow {
  @apply border-l border-b top-px z-50 w-2 h-2 absolute rotate-45 border-slate-950;
  box-sizing: border-box;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  --tw-rotate: -45deg;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  border-color: rgba(0,0,0,var(--tw-border-opacity));
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent; /* 需要设置透明背景色以便看到底部的内容 */
  z-index: -1; /* 将伪元素置于元素的底层，以便触发:hover */
}
</style>
<footer>
  <div class="flex fixed bg-white z-50 bottom-0 border-t border-slate-950 w-full">
    <div class="wrapper footer-more group/more">
      <div class=" border-r border-slate-950">
        <a class="footer-more-btn">
          更多 Behance
        </a>
        <div class="tooltip footer-more-tooltip group-hover/more:block left-3">
          <div class="absolute bottom-0 left-3">
            <div class="arrow border-l border-b top-px z-50 w-2 h-2 absolute rotate-45 border-slate-950"></div>
          </div>
          <ul class="flex flex-col-reverse">
            <li class="">
              <a class="" href="/careers" target="_blank">
                Behance 中的工作机会
              </a>
            </li>
            <li class="">
              <a href="https://portfolio.adobe.com/?promoid=ZKD5FJ7P&mv=other" target="_blank">
                Adobe Portfolio
              </a>
            </li>
            <li class="">
              <a href="/blog" target="_blank">
                博客
              </a>
            </li>
            <li class="">
              <a aria-expanded="false">
                下载应用程序
              </a>
            </li>
            <li class="">
              <a href="/about" target="_blank">
                关于 Behance
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper footer-language group/languages">
      <div class="border-r border-slate-950">
        <a class="footer-language-btn relative" aria-expanded="false" aria-label="当前选择的语言：中文(简体)">
          中文(简体)
        </a>
        <div class="tooltip group-hover/languages:block ">
          <div class="absolute bottom-0 left-6">
            <div class="arrow"></div>
          </div>
          <ul class="flex flex-col-reverse">
            {
              language.map(item => (
                <li class="LanguageSelector-footerSelectorItem-m2u" role="menuitem">
                  <a
                    class="LanguageSelector-resetButton-qrR LanguageSelector-footerSelectorLinks-h87 e2e-LanguageSelector-en_US"
                    data-language-locale="en_US"
                    lang="en-US">
                    English
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper footer-other">
      <ul class="flex items-center">
        <li class="">
          <a href="http://www.adobe.com/legal/terms.html" target="_blank">
            使用条款
          </a>
        </li>
        <li class="">
          <a href="http://www.adobe.com/privacy.html" target="_blank">
            隐私
          </a>
        </li>
        <li class="">
          <a href="/misc/community" target="_blank">
            社区
          </a>
        </li>
        <li class="">
          <a href="https://help.behance.net/" target="_blank">
            帮助
          </a>
        </li>
        <li>
          <a aria-label="Cookie 偏好设置">
            Cookie 偏好设置
          </a>
        </li>
        <li class="">
          <a href="https://www.adobe.com/privacy/us-rights.html" target="_blank">
            不得出售或共享我的个人信息
          </a>
        </li>
      </ul>
    </div>
    <div class="ml-auto">
      <a>v1.0</a>
    </div>
  </div>
</footer>
