<div class="animate-pulse">
    <div class="bg-gray-300 h-8 w-3/4 rounded mb-4"></div>
    <div class="bg-gray-300 h-6 w-5/6 rounded mb-4"></div>
    <div class="bg-gray-300 h-6 w-2/3 rounded"></div>
</div>