---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="show">
    <h1>秀场</h1>
    <ul class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
        <a href='/detail?id=123'>
            <div class="img-container relative cursor-pointer">
                <div :class="['absolute flex items-center top-0 h-full w-full justify-center text-xs', `image-mask${index}`]">
                    <span>图片加载中...</span>
                </div>
                <div class='top-0 absolute w-full h-full' :id="`img-content-${index}`">
                    <img class="w-full h-full" :src="item.src" @error="handleError(index)">
                    <!-- sdfsdfsdf -->
                </div>
            </div>
        </a>
        <a href='/detail?id=123'>
            <div class="img-container relative cursor-pointer">
                <div :class="['absolute flex items-center top-0 h-full w-full justify-center text-xs', `image-mask${index}`]">
                    <span>图片加载中...</span>
                </div>
                <div class='top-0 absolute w-full h-full' :id="`img-content-${index}`">
                    <img class="w-full h-full" :src="item.src" @error="handleError(index)">
                    <!-- sdfsdfsdf -->
                </div>
            </div>
        </a>
    </ul>
</MainLayout>