---
import MainLayout from "../../layouts/MainLayout.astro";
import MainHeader from '../../components/MainHeader.astro';
import Content from '@/pages/show/content.vue';
---
<MainLayout title="show">
    <MainHeader></MainHeader>
    <div class="pt-60">
        <p class="text-4xl text-center m-4">秀场</p>
        <Content client:load></Content>
    </div>
</MainLayout>
