<script>
  import { gsap } from 'gsap';
//   gsap.fromTo('.sdk', {
//     opacity: [0, 1]
// }, {
//     delay: 0,
//     repeat: 1 / 0,
//         // defaultOptions: {
//         //     easing: [.165, .84, .44, 1],
//         //     allowWebkitAcceleration: !0
//         // }
//     })

var per = 100
const button = document.querySelector('.marquee-content');

  button.addEventListener('click', function() {
    per-=10
console.log(per)
        gsap.fromTo('.track ', {
    //   x: 10,
    }, {
    xPercent: (100-per) * -1,
    //   stagger: {
    //         amount: 100, // 滚动距离
    //         each: 1, // 每个元素之间的延迟
    //     },
    duration: 1,
    //   delay:1,
    //   repeat: -1,
    ease: 'linear',
    })
  });


gsap.to(".marquee-content", {
    x: () => -(document.querySelector(".marquee-content").clientWidth), // 计算滚动距离
    ease: "linear",
    repeat: -1, // 无限次重复
    duration: 10, // 持续时间，可以根据需要调整
});

</script>
<style>

.marquee {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    /* 额外的样式，例如字体大小、颜色等 */
}

    .grid:where(.astro-KWFDDM2J) {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: 1;
    inset: 0;
    place-items: center;
    position: absolute;
    transform: translate(0);
}

.c-ticker:where(.astro-KWFDDM2J) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-block-start: 3rem;
    opacity: 0;
    position: relative;
}
.track:where(.astro-KWFDDM2J) {
    height: 4.25rem;
    isolation: isolate;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 55.375rem;
}

.track:where(.astro-KWFDDM2J):before {
    background: linear-gradient(90deg,#fff 0%,rgba(255,255,255,0) 100%);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 4;
}


.track:where(.astro-KWFDDM2J):after {
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff 100%);
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index: 4;
}

.sdk-shadow:where(.astro-KWFDDM2J) {
    background-color: transparent;
    border-radius: 0.5rem;
    bottom: 0;
    box-shadow: 0 2px 10px #0000001a;
    height: 3rem;
    left: 25.625rem;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0.625rem;
    transform-origin: center;
    width: 4.125rem;
}
</style>
<div class="marquee">
    <div class="marquee-content">
        这是一段要滚动的文字。这是一段要滚动的文字。这是一段要滚动的文字。
    </div>
</div>
<section class="c-responsive-section u-bg-white astro-J7PV25F6 astro-WIVZ3U7F">
  <div class="c-container c-container--large astro-J7PV25F6 astro-I4TGLJLN">
    <div class="c-center u-mt-large-1 astro-J7PV25F6 astro-W2GOKGZQ">
      <span
        class="c-display c-display--web-display-1 u-mb-large-2 astro-J7PV25F6 astro-RHIG635Y"
      >
        热门品牌<span class="h-break astro-J7PV25F6"></span> for you
      </span>
      <span
        class="c-body-text c-body-text--web-body-1 u-mb-large-2 astro-J7PV25F6 astro-N2675GOD"
      >
        In your tech stack.
      </span>
      <div class="p-home__hero-code-anim astro-J7PV25F6">
        <div
          class="c-ticker astro-KWFDDM2J"
          aria-hidden="true"
          style="opacity: 1;"
        >
          <div class="ticker astro-KWFDDM2J">
            <div id="track" class="track astro-KWFDDM2J">
              <div class="grid astro-KWFDDM2J">
                <a
                  role="button"
                  data-link="/docs/developer-tools/android-sdk/"
                  class="sdk android js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/android"
                    ><g clip-path="url(#astroicon:custom/androida)"
                      ><path
                        fill="#0F0F0F"
                        d="M12.334 18.578c.828 0 1.498.67 1.498 1.498v6.426a1.498 1.498 0 0 1-2.996 0v-6.426c0-.827.671-1.498 1.498-1.498Z"
                      ></path><path
                        fill="#0F0F0F"
                        d="M8.915 10.852c-.005.056-.01.114-.01.172v9.736c0 1.047.83 1.89 1.858 1.89h9.901c1.029 0 1.858-.843 1.858-1.89v-9.736c0-.058-.002-.116-.007-.172h-13.6Z"
                      ></path><path
                        fill="#0F0F0F"
                        d="M19.093 18.578c.827 0 1.498.67 1.498 1.498v6.426a1.498 1.498 0 1 1-2.996 0v-6.426c0-.827.67-1.498 1.498-1.498Zm-12.594-6.86c.827 0 1.497.67 1.497 1.498v6.426a1.498 1.498 0 0 1-2.996 0v-6.426c0-.827.671-1.498 1.499-1.498Zm18.43 0c.827 0 1.498.67 1.498 1.498v6.426a1.498 1.498 0 0 1-2.996 0v-6.426c0-.827.67-1.498 1.498-1.498ZM8.96 10.212C9 7.222 11.61 4.77 14.96 4.446h1.505c3.351.324 5.961 2.776 6.003 5.766H8.959Z"
                      ></path><path
                        stroke="#0F0F0F"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width=".316"
                        d="m9.48 4.158 1.58 2.737m10.888-2.737-1.58 2.737"
                      ></path><path
                        fill="#fff"
                        d="M13.701 7.532a.766.766 0 0 1-.773.76.767.767 0 0 1-.777-.756v-.004a.766.766 0 0 1 .773-.759.766.766 0 0 1 .777.755v.004Zm5.785 0a.766.766 0 0 1-.773.76.767.767 0 0 1-.777-.756v-.004a.766.766 0 0 1 .773-.759.766.766 0 0 1 .777.755v.004Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/androida"
                        ><path
                          fill="#fff"
                          d="M0 0h21.427v24H0z"
                          transform="translate(5 4)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/apollo-graphql/"
                  class="sdk graphql js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/graphql"
                    ><path
                      fill="#2B2B2B"
                      d="m5.958 22.04.92.53 10.25-17.752-.92-.531-10.25 17.752Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="M26.247 20.62h-20.5v1.063h20.5v-1.062Z"></path><path
                      fill="#2B2B2B"
                      d="m6.153 21.218 10.253 5.92.531-.92-10.253-5.92-.531.92ZM15.06 5.789l10.254 5.92.53-.92-10.253-5.92-.531.92Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="m6.156 10.784.531.92 10.253-5.92-.53-.92-10.254 5.92Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="m14.875 4.818 10.25 17.752.92-.53-10.25-17.753-.92.531ZM7.622 10.08H6.56v11.84h1.062V10.08Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="M25.44 10.08h-1.062v11.84h1.062V10.08Z"></path><path
                      fill="#2B2B2B"
                      d="m15.762 25.884.464.804 8.917-5.149-.464-.804-8.917 5.15Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="M26.848 22.266a2.237 2.237 0 0 1-3.053.819 2.237 2.237 0 0 1-.819-3.053 2.237 2.237 0 0 1 3.053-.82 2.227 2.227 0 0 1 .819 3.054ZM9.018 11.968a2.237 2.237 0 0 1-3.053.82 2.237 2.237 0 0 1-.82-3.054 2.237 2.237 0 0 1 3.053-.819 2.239 2.239 0 0 1 .82 3.053ZM5.152 22.266a2.239 2.239 0 0 1 .82-3.053 2.239 2.239 0 0 1 3.052.819 2.236 2.236 0 0 1-3.872 2.234ZM22.983 11.968a2.239 2.239 0 0 1 .819-3.053 2.239 2.239 0 0 1 3.053.82 2.239 2.239 0 0 1-.82 3.052 2.237 2.237 0 0 1-3.052-.819ZM16 28.531a2.232 2.232 0 0 1-2.234-2.233c0-1.236.999-2.234 2.234-2.234 1.235 0 2.234.998 2.234 2.234A2.236 2.236 0 0 1 16 28.53ZM16 7.936a2.232 2.232 0 0 1-2.234-2.234c0-1.235.999-2.233 2.234-2.233 1.235 0 2.234.998 2.234 2.233A2.232 2.232 0 0 1 16 7.936Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/elixir-sdk/"
                  class="sdk elixir js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/elixir"
                    ><path d="M0 0h32v32H0z"></path><path
                      stroke="#000"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M15.5 28a7.5 7.5 0 0 0 7.5-7.5c0-6.75-6.75-7.5-6.75-16.5C12.125 8.125 8 12.813 8 20.5a7.5 7.5 0 0 0 7.5 7.5Z"
                    ></path><path
                      stroke="#000"
                      stroke-width="1.5"
                      d="M8.017 21.5C9.917 23.062 12.35 24 15 24a10.97 10.97 0 0 0 8-3.45"
                    ></path><path
                      stroke="#000"
                      stroke-width="1.5"
                      d="M18 27.652c-2.867-1.354-5-6.505-5-12.652 0-4.163.978-7.868 2.5-10.248"
                    ></path><path
                      stroke="#000"
                      stroke-width="1.5"
                      d="M16.376 6.158C14.914 7.618 14 9.695 14 12c0 4.418 3.358 8 7.5 8 .514 0 1.015-.055 1.5-.16"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/ios-sdk/"
                  class="sdk ios js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 33 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/ios"
                    ><path
                      fill="#2B2B2B"
                      d="M2.63 22.67h2.316v-9.857H2.63v9.856Zm1.153-11.15c.726 0 1.293-.558 1.293-1.255C5.076 9.558 4.509 9 3.783 9 3.067 9 2.5 9.558 2.5 10.265c0 .697.567 1.255 1.283 1.255Zm8.872-2.492c-3.915 0-6.37 2.669-6.37 6.937 0 4.268 2.455 6.928 6.37 6.928 3.905 0 6.36-2.66 6.36-6.928s-2.454-6.937-6.36-6.937Zm0 2.046c2.39 0 3.915 1.897 3.915 4.89 0 2.986-1.525 4.883-3.915 4.883-2.4 0-3.915-1.897-3.915-4.882 0-2.994 1.516-4.891 3.915-4.891Zm7.337 7.82c.102 2.474 2.13 3.999 5.217 3.999 3.245 0 5.291-1.6 5.291-4.148 0-1.999-1.153-3.124-3.878-3.747l-1.543-.353c-1.646-.391-2.325-.912-2.325-1.804 0-1.116 1.023-1.86 2.539-1.86 1.534 0 2.585.753 2.696 2.008h2.288c-.056-2.362-2.009-3.961-4.966-3.961-2.92 0-4.993 1.609-4.993 3.99 0 1.915 1.171 3.105 3.645 3.672l1.739.41c1.692.4 2.38.957 2.38 1.924 0 1.116-1.125 1.916-2.743 1.916-1.637 0-2.873-.809-3.022-2.046h-2.325Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/dotnet-sdk/"
                  class="sdk dotnet js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 33 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/dotnet"
                    ><g clip-path="url(#astroicon:custom/dotneta)"
                      ><path
                        fill="#0F0F0F"
                        d="M3.56 21.4a.993.993 0 0 1-.71-.28.916.916 0 0 1-.292-.678c0-.267.097-.495.292-.686a.98.98 0 0 1 .71-.285c.284 0 .523.095.718.285.2.19.3.42.3.686 0 .262-.1.488-.3.679a1.001 1.001 0 0 1-.717.278Z"
                      ></path><path
                        fill="#000"
                        d="M14.7 21.242h-1.811l-4.772-7.528a3.37 3.37 0 0 1-.3-.593h-.042c.038.22.056.688.056 1.407v6.714H6.23V11h1.93l4.611 7.35c.195.304.32.514.376.628h.028c-.046-.271-.07-.73-.07-1.379V11H14.7v10.242ZM22.502 21.242h-5.608V11h5.385v1.443h-3.727v2.9h3.434v1.435h-3.434v3.028h3.95v1.436ZM30.471 12.443h-2.87v8.799h-1.658v-8.8H23.08V11h7.391v1.443Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/dotneta"
                        ><path
                          fill="#fff"
                          d="M0 0h28v10.457H0z"
                          transform="translate(2.5 11)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/nextjs-sdk/"
                  class="sdk next js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="red"
                    viewBox="0 0 394 80"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="nextjs"
                    ><path
                      fill="#000"
                      d="M261.919.033h68.628V12.7h-27.224v66.639H289.71V12.7h-27.791V.033ZM149.052.033V12.7h-55.01v20.377h44.239v12.667H94.042v20.928h55.01V79.34H80.43V12.7h-.006V.033h68.628ZM183.32.066h-17.814l63.806 79.306h17.866l-31.907-39.626L247.127.126l-17.815.028-22.96 28.516L183.32.066ZM201.6 56.715l-8.921-11.092-27.224 33.81h17.865l18.28-22.718Z"
                    ></path><path
                      fill="#000"
                      fill-rule="evenodd"
                      d="M80.907 79.339 17.015 0H0v79.306h13.612V16.952l50.195 62.387h17.1Z"
                      clip-rule="evenodd"></path><path
                      fill="#000"
                      d="M333.607 78.855a3.528 3.528 0 0 1-2.555-1.036c-.71-.691-1.061-1.527-1.052-2.518-.009-.963.342-1.79 1.052-2.481a3.528 3.528 0 0 1 2.555-1.036c.959 0 1.798.345 2.508 1.036.72.69 1.079 1.518 1.089 2.481a3.44 3.44 0 0 1-.508 1.79 3.675 3.675 0 0 1-1.319 1.282 3.403 3.403 0 0 1-1.77.482ZM356.84 45.445h6.032v23.24c-.009 2.135-.471 3.962-1.374 5.498-.913 1.536-2.177 2.708-3.8 3.535-1.614.818-3.505 1.237-5.654 1.237-1.965 0-3.726-.355-5.294-1.046-1.568-.69-2.813-1.726-3.726-3.09-.923-1.363-1.375-3.063-1.375-5.098h6.042c.009.89.212 1.663.599 2.308a3.855 3.855 0 0 0 1.605 1.481c.691.346 1.485.519 2.379.519.969 0 1.799-.2 2.472-.61.673-.4 1.19-1 1.55-1.799.35-.79.535-1.772.544-2.935v-23.24ZM387.691 54.534c-.147-1.409-.793-2.509-1.918-3.29-1.135-.79-2.601-1.182-4.4-1.182-1.263 0-2.351.191-3.255.564-.904.382-1.605.89-2.085 1.536-.479.645-.719 1.381-.738 2.208 0 .691.166 1.29.489 1.79.323.51.756.937 1.319 1.282a8.806 8.806 0 0 0 1.845.882c.682.236 1.365.436 2.047.6l3.145.772a21.74 21.74 0 0 1 3.662 1.182 12.966 12.966 0 0 1 3.163 1.872 8.384 8.384 0 0 1 2.214 2.726c.544 1.064.821 2.309.821 3.745 0 1.936-.498 3.635-1.504 5.108-1.005 1.463-2.453 2.608-4.353 3.435-1.891.818-4.178 1.236-6.871 1.236-2.601 0-4.87-.4-6.779-1.2-1.918-.79-3.413-1.954-4.492-3.48-1.079-1.527-1.66-3.39-1.743-5.58h5.977c.083 1.144.452 2.099 1.079 2.871.636.763 1.466 1.327 2.481 1.709 1.024.372 2.167.563 3.431.563 1.319 0 2.481-.2 3.486-.59.996-.391 1.78-.937 2.343-1.646.572-.7.858-1.526.867-2.472-.009-.863-.268-1.581-.766-2.145-.507-.563-1.208-1.036-2.103-1.417a21.606 21.606 0 0 0-3.154-1.027l-3.818-.964c-2.758-.7-4.944-1.763-6.54-3.19-1.604-1.427-2.398-3.317-2.398-5.69 0-1.944.535-3.653 1.615-5.116 1.069-1.463 2.536-2.6 4.39-3.408 1.863-.818 3.966-1.218 6.308-1.218 2.38 0 4.464.4 6.263 1.218 1.798.809 3.21 1.936 4.233 3.372 1.024 1.436 1.559 3.08 1.587 4.944h-5.848Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/nuxt-module/"
                  class="sdk nuxt js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 512 512"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="nuxt"
                    ><path
                      fill="#000"
                      d="M281.44 397.667h156.88c5.006 0 9.798-1.759 14.133-4.24 4.336-2.481 8.805-5.596 11.307-9.894 2.502-4.297 4.242-9.173 4.24-14.134-.002-4.962-1.734-9.836-4.24-14.131l-106-182.321c-2.502-4.297-5.559-7.413-9.893-9.894-4.335-2.48-10.542-4.24-15.547-4.24-5.005 0-9.799 1.76-14.133 4.24-4.335 2.481-7.392 5.597-9.894 9.894l-26.853 46.64-53.707-90.457c-2.504-4.296-5.557-8.823-9.893-11.303-4.336-2.481-9.127-2.827-14.133-2.827-5.006 0-9.798.346-14.134 2.827-4.335 2.48-8.802 7.007-11.306 11.303L46.827 355.268c-2.506 4.295-2.825 9.169-2.827 14.131-.002 4.961.325 9.836 2.827 14.134 2.502 4.297 6.97 7.413 11.306 9.894 4.336 2.481 9.127 4.24 14.134 4.24H171.2c39.201 0 67.734-17.585 87.627-50.88L306.88 263.4l25.44-43.813 77.733 132.853H306.88l-25.44 45.227ZM169.787 352.44h-69.254l103.174-178.08L256 263.4l-34.639 60.384c-13.21 21.603-28.272 28.656-51.574 28.656Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/nodejs-sdk/"
                  class="sdk node js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 33 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/js"
                    ><path
                      fill="#2B2B2B"
                      d="m8.5 19.796 1.974-1.188c.38.672.727 1.24 1.557 1.24.797 0 1.299-.31 1.299-1.515v-8.195h2.423v8.229c0 2.496-1.471 3.633-3.618 3.633C10.197 22 9.071 21 8.5 19.796Zm8.57-.258 1.973-1.136c.52.843 1.195 1.463 2.389 1.463 1.004 0 1.645-.5 1.645-1.188 0-.826-.658-1.119-1.766-1.6l-.606-.26c-1.748-.74-2.908-1.67-2.908-3.632 0-1.808 1.385-3.185 3.549-3.185 1.54 0 2.648.534 3.444 1.928l-1.887 1.205c-.415-.74-.865-1.032-1.557-1.032-.71 0-1.16.447-1.16 1.032 0 .724.45 1.016 1.488 1.464l.606.258c2.06.878 3.22 1.774 3.22 3.788 0 2.17-1.714 3.357-4.016 3.357-2.25 0-3.705-1.067-4.414-2.462"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/sveltekit-sdk/"
                  class="sdk svelte js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="svelte"
                    ><g clip-path="url(#astroicon:sveltea)"
                      ><path
                        fill="#000"
                        d="M26.005 6.57c-2.494-3.593-7.46-4.646-11.029-2.38L8.684 8.217a7.151 7.151 0 0 0-3.25 4.828c-.297 1.67-.045 3.386.756 4.874a6.908 6.908 0 0 0-1.076 2.7 7.699 7.699 0 0 0 1.304 5.811c2.517 3.593 7.46 4.645 11.03 2.38l6.292-4.004a7.151 7.151 0 0 0 3.249-4.828c.297-1.67.046-3.387-.755-4.874a6.91 6.91 0 0 0 1.075-2.7 7.539 7.539 0 0 0-1.304-5.835Z"
                      ></path><path
                        fill="#fff"
                        d="M14.358 26.774a4.988 4.988 0 0 1-5.354-1.99c-.732-1.008-1.007-2.266-.8-3.502.045-.206.09-.389.137-.595l.114-.366.32.229c.755.55 1.58.961 2.472 1.236l.228.068-.022.23c-.023.32.068.663.251.937a1.514 1.514 0 0 0 1.625.618c.137-.046.274-.091.389-.16l6.27-4.004c.32-.206.526-.504.594-.87a1.42 1.42 0 0 0-.229-1.052 1.502 1.502 0 0 0-1.624-.595 1.978 1.978 0 0 0-.39.16l-2.402 1.533a4.256 4.256 0 0 1-1.281.549 4.987 4.987 0 0 1-5.354-1.99 4.621 4.621 0 0 1-.778-3.502 4.333 4.333 0 0 1 1.968-2.905l6.292-4.005a4.98 4.98 0 0 1 1.281-.572 4.987 4.987 0 0 1 5.354 1.991c.733 1.007 1.007 2.265.801 3.5a5.718 5.718 0 0 1-.16.596l-.114.366-.32-.229a8.348 8.348 0 0 0-2.472-1.236l-.229-.068.023-.229a1.531 1.531 0 0 0-.251-.938 1.502 1.502 0 0 0-1.625-.595 1.98 1.98 0 0 0-.389.16l-6.27 4.004c-.32.206-.526.504-.594.87a1.42 1.42 0 0 0 .228 1.052 1.502 1.502 0 0 0 1.625.595c.137-.046.275-.091.389-.16l2.403-1.533a4.98 4.98 0 0 1 1.28-.572 4.987 4.987 0 0 1 5.355 1.99c.732 1.008 1.007 2.266.801 3.502a4.333 4.333 0 0 1-1.968 2.905l-6.292 4.005a4.98 4.98 0 0 1-1.282.572Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:sveltea"
                        ><path
                          fill="#fff"
                          d="M0 0h22.447v27H0z"
                          transform="translate(5 3)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/php-sdk/"
                  class="sdk php js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/php"
                    ><path
                      fill="#2B2B2B"
                      d="M3.512 11.915h4.181c1.228.01 2.117.364 2.668 1.06.552.697.734 1.65.546 2.856a5.475 5.475 0 0 1-.483 1.623 4.82 4.82 0 0 1-.999 1.435c-.52.541-1.076.884-1.67 1.03a7.688 7.688 0 0 1-1.84.218H4.041l-.593 2.965H1.28l2.232-11.187Zm1.825 1.778-.936 4.681c.062.01.125.016.187.016h.219c.998.01 1.83-.088 2.496-.297.666-.218 1.113-.977 1.342-2.278.187-1.092 0-1.721-.562-1.888-.551-.166-1.243-.244-2.075-.234a4.37 4.37 0 0 1-.359.016h-.327l.015-.016ZM13.378 8.934h2.153l-.608 2.98h1.935c1.06.021 1.851.24 2.371.656.53.416.687 1.207.469 2.372l-1.046 5.195h-2.184l.998-4.961c.104-.52.073-.89-.093-1.108-.167-.219-.526-.328-1.077-.328l-1.732-.015-1.28 6.412h-2.153l2.247-11.203ZM22.01 11.915h4.181c1.228.01 2.117.364 2.668 1.06.552.697.734 1.65.546 2.856a5.478 5.478 0 0 1-.483 1.623 4.822 4.822 0 0 1-.999 1.435c-.52.541-1.076.884-1.67 1.03a7.688 7.688 0 0 1-1.84.218H22.54l-.593 2.965h-2.169l2.232-11.187Zm1.825 1.778-.936 4.681c.062.01.125.016.187.016h.219c.998.01 1.83-.088 2.496-.297.666-.218 1.113-.977 1.342-2.278.187-1.092 0-1.721-.562-1.888-.551-.166-1.243-.244-2.075-.234a4.37 4.37 0 0 1-.359.016h-.327l.015-.016Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/python-sdk/"
                  class="sdk python js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/python"
                    ><g
                      fill="#2B2B2B"
                      clip-path="url(#astroicon:custom/pythona)"
                      ><path
                        d="M15.914 6.006c-5.064 0-4.748 2.196-4.748 2.196l.006 2.275h4.833v.683H9.252s-3.24-.367-3.24 4.743 2.828 4.929 2.828 4.929h1.688v-2.371s-.091-2.829 2.784-2.829h4.793s2.693.043 2.693-2.603V8.654s.41-2.648-4.884-2.648Zm-2.665 1.53a.868.868 0 1 1 0 1.739.869.869 0 1 1 0-1.74Z"
                      ></path><path
                        d="M16.058 25.852c5.065 0 4.748-2.197 4.748-2.197l-.005-2.275h-4.833v-.683h6.752s3.241.367 3.241-4.743-2.828-4.929-2.828-4.929h-1.689v2.372s.091 2.828-2.783 2.828h-4.794s-2.693-.043-2.693 2.603v4.376s-.409 2.648 4.884 2.648Zm2.665-1.53a.868.868 0 0 1-.615-1.485.87.87 0 1 1 .615 1.485Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/pythona"
                        ><path
                          fill="#fff"
                          d="M0 0h20v19.92H0z"
                          transform="translate(6 6)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/react-sdk/"
                  class="sdk react js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/react"
                    ><path
                      fill="#2B2B2B"
                      d="M16 18.952a2.496 2.496 0 1 0 0-4.992 2.496 2.496 0 0 0 0 4.992Z"
                    ></path><path
                      fill="#2B2B2B"
                      fill-rule="evenodd"
                      d="M4.069 14.918c-.602.543-.852 1.064-.852 1.538s.25.995.852 1.538c.602.544 1.508 1.062 2.679 1.509 2.338.892 5.609 1.457 9.252 1.457 3.643 0 6.914-.565 9.252-1.457 1.171-.447 2.077-.965 2.68-1.509.602-.543.85-1.064.85-1.538s-.248-.995-.85-1.538c-.603-.544-1.509-1.062-2.68-1.509-2.338-.892-5.609-1.457-9.252-1.457-3.643 0-6.914.565-9.252 1.457-1.171.447-2.077.965-2.68 1.509Zm2.245-2.646c2.509-.958 5.933-1.538 9.686-1.538s7.177.58 9.686 1.538c1.253.478 2.308 1.062 3.06 1.742.754.68 1.254 1.504 1.254 2.442 0 .938-.5 1.762-1.253 2.442-.753.68-1.808 1.264-3.06 1.742-2.51.958-5.934 1.538-9.687 1.538-3.753 0-7.177-.58-9.686-1.538-1.253-.478-2.308-1.062-3.06-1.742C2.5 18.218 2 17.394 2 16.456c0-.938.5-1.762 1.253-2.442.753-.68 1.808-1.264 3.06-1.742Z"
                      clip-rule="evenodd"></path><path
                      fill="#2B2B2B"
                      fill-rule="evenodd"
                      d="M11.367 5.354c-.773-.25-1.348-.205-1.758.032-.41.237-.737.713-.907 1.507-.17.793-.165 1.836.033 3.074.396 2.471 1.542 5.586 3.364 8.741 1.822 3.155 3.946 5.706 5.888 7.284.973.79 1.874 1.316 2.646 1.566.772.25 1.348.205 1.758-.032.41-.237.737-.713.907-1.506.17-.794.165-1.837-.033-3.075-.396-2.47-1.543-5.586-3.364-8.741-1.822-3.155-3.946-5.705-5.889-7.284-.972-.79-1.873-1.316-2.645-1.566Zm3.413.621c2.084 1.694 4.299 4.37 6.175 7.62 1.876 3.25 3.087 6.506 3.512 9.158.212 1.323.233 2.53.021 3.521-.212.992-.676 1.837-1.488 2.306-.813.47-1.776.448-2.742.136-.965-.312-1.998-.934-3.038-1.78-2.084-1.693-4.299-4.37-6.175-7.62-1.877-3.249-3.087-6.505-3.512-9.156-.212-1.324-.234-2.53-.021-3.522.212-.992.675-1.837 1.488-2.306.812-.47 1.776-.448 2.741-.136.966.312 2 .934 3.04 1.78Z"
                      clip-rule="evenodd"></path><path
                      fill="#2B2B2B"
                      fill-rule="evenodd"
                      d="M23.298 6.893c-.17-.794-.496-1.27-.907-1.507-.41-.237-.986-.282-1.758-.032-.772.25-1.673.776-2.646 1.566-1.942 1.579-4.066 4.129-5.888 7.284-1.822 3.155-2.968 6.27-3.364 8.741-.198 1.238-.203 2.281-.033 3.075.17.793.496 1.27.907 1.506.41.237.986.282 1.758.032.772-.25 1.673-.776 2.645-1.566 1.943-1.579 4.067-4.129 5.889-7.284 1.821-3.155 2.968-6.27 3.364-8.741.198-1.238.203-2.28.033-3.074Zm1.169 3.267c-.425 2.651-1.636 5.907-3.512 9.157-1.876 3.25-4.09 5.926-6.175 7.62-1.04.845-2.073 1.467-3.039 1.78-.965.311-1.929.332-2.741-.137-.813-.469-1.276-1.314-1.488-2.306-.213-.992-.19-2.198.021-3.521.425-2.652 1.635-5.908 3.512-9.158 1.876-3.25 4.09-5.926 6.175-7.62 1.04-.845 2.073-1.467 3.038-1.779.966-.312 1.93-.333 2.742.136.812.469 1.276 1.314 1.488 2.306.212.992.19 2.198-.021 3.522Z"
                      clip-rule="evenodd"></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/flutter-sdk/"
                  class="sdk flutter js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/flutter"
                    ><mask
                      id="astroicon:custom/fluttera"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/fluttera)"
                      ><path
                        fill="url(#astroicon:custom/flutterb)"
                        d="M10.091 13.649h20.165v15.648H10.091z"></path><path
                        fill="#000"
                        d="M27.615 14.923H19l-7.537 7.54 4.306 4.306 11.846-11.846Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/flutterc"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/flutterc)"
                      ><path
                        fill="#000"
                        d="M9.308 20.309 5 16 19 2h8.615L9.308 20.309Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/flutterd"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/flutterd)"
                      ><path
                        fill="#000"
                        d="M15.769 26.77 19 30h8.615l-7.537-7.538-4.31 4.307Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/fluttere"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/fluttere)"
                      ><path
                        fill="url(#astroicon:custom/flutterf)"
                        d="m15.769 26.77 6.39-2.212-2.081-2.096-4.31 4.307Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/flutterg"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/flutterg)"
                      ><path
                        fill="#000"
                        d="m15.77 18.155-4.308 4.307 4.307 4.308 4.308-4.308-4.308-4.307Z"
                      ></path></g
                    ><path
                      fill="url(#astroicon:custom/flutterh)"
                      d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                    ></path><defs
                      ><pattern
                        id="astroicon:custom/flutterb"
                        width="1"
                        height="1"
                        patternContentUnits="objectBoundingBox"
                        ><use
                          xlink:href="#astroicon:custom/flutteri"
                          transform="scale(.00787 .0101)"></use></pattern
                      ><linearGradient
                        id="astroicon:custom/flutterf"
                        x1="17.026"
                        x2="20.234"
                        y1="27.601"
                        y2="24.393"
                        gradientUnits="userSpaceOnUse"
                        ><stop stop-color="#1A237E" stop-opacity=".4"
                        ></stop><stop
                          offset="1"
                          stop-color="#1A237E"
                          stop-opacity="0"></stop></linearGradient
                      ><radialGradient
                        id="astroicon:custom/flutterh"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientTransform="translate(5.636 3.909) scale(34.2569)"
                        gradientUnits="userSpaceOnUse"
                        ><stop stop-color="#fff" stop-opacity=".1"></stop><stop
                          offset="1"
                          stop-color="#fff"
                          stop-opacity="0"></stop></radialGradient
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/ruby-sdk/"
                  class="sdk ruby js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/ruby"
                    ><path d="M0 0h32v32H0z"></path><path
                      stroke="#000"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M7.328 24.328 24.114 7.543M5.899 15.757 25.542 25.4M16.257 6.114l8.928 18.928m-12.5-6.07L10.9 10.756l8.215 1.786m-12.48 2.479 8.53-8.53a2.02 2.02 0 0 1 1.761-.564l5.985.997a2.02 2.02 0 0 1 1.682 1.838L25.9 25.757 8.906 24.45a2.02 2.02 0 0 1-1.838-1.683l-.998-5.985a2.02 2.02 0 0 1 .565-1.76Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/java-sdk/"
                  class="sdk java js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/java"
                    ><g fill="#000" clip-path="url(#astroicon:custom/javaa)"
                      ><path
                        d="M23.588 25.073h-.119v-.066h.32v.066h-.118v.331h-.083v-.33Zm.636.017h-.001l-.118.314h-.054l-.116-.314h-.002v.314h-.078v-.397h.115l.108.281.108-.281h.115v.397h-.077v-.314ZM12.974 16.95s-.825.48.587.642c1.71.195 2.585.167 4.47-.19 0 0 .496.31 1.188.58-4.226 1.811-9.564-.105-6.245-1.032ZM12.458 14.586s-.925.685.488.831c1.827.189 3.27.204 5.767-.277 0 0 .345.35.888.542-5.109 1.494-10.8.118-7.143-1.096ZM16.81 10.577c1.042 1.2-.273 2.278-.273 2.278s2.644-1.365 1.43-3.074c-1.134-1.594-2.004-2.386 2.704-5.116 0 0-7.39 1.846-3.86 5.912Z"
                      ></path><path
                        d="M22.4 18.698s.61.503-.672.892c-2.44.739-10.153.962-12.295.03-.77-.336.674-.8 1.128-.898.474-.103.745-.084.745-.084-.857-.603-5.536 1.185-2.377 1.697 8.616 1.397 15.706-.63 13.47-1.637ZM13.37 12.138s-3.922.932-1.388 1.27c1.07.143 3.202.11 5.189-.056 1.623-.137 3.254-.428 3.254-.428s-.573.245-.987.528c-3.984 1.048-11.68.56-9.465-.511 1.874-.906 3.398-.803 3.398-.803ZM20.409 16.072c4.05-2.105 2.177-4.127.87-3.855-.32.067-.463.125-.463.125s.119-.187.346-.267c2.586-.91 4.574 2.68-.835 4.103 0 0 .063-.056.082-.106ZM17.967.256S20.21 2.5 15.84 5.95c-3.505 2.767-.8 4.345-.002 6.148-2.045-1.845-3.547-3.47-2.54-4.982 1.479-2.22 5.574-3.296 4.669-6.86Z"
                      ></path><path
                        d="M13.769 21.774c3.887.25 9.857-.138 9.998-1.977 0 0-.272.697-3.213 1.25-3.318.625-7.41.552-9.837.152 0 0 .497.411 3.052.575ZM13.132 28.803c-.367.318-.754.496-1.102.496-.496 0-.764-.297-.764-.774 0-.516.287-.894 1.44-.894h.426v1.172Zm1.012 1.142V26.41c0-.902-.515-1.498-1.757-1.498-.725 0-1.36.179-1.875.407l.149.626c.406-.15.932-.288 1.448-.288.715 0 1.023.288 1.023.883v.447h-.357c-1.738 0-2.522.674-2.522 1.687 0 .873.517 1.37 1.49 1.37.625 0 1.091-.258 1.527-.636l.08.537h.794ZM17.52 29.945H16.26L14.739 25h1.103l.942 3.037.21.914c.477-1.32.814-2.66.983-3.95h1.072c-.288 1.627-.804 3.414-1.528 4.943ZM22.362 28.803c-.367.318-.755.496-1.103.496-.495 0-.764-.297-.764-.774 0-.516.288-.894 1.44-.894h.427v1.172Zm1.012 1.142V26.41c0-.902-.516-1.498-1.756-1.498-.726 0-1.36.179-1.876.407l.148.626c.407-.15.934-.288 1.45-.288.714 0 1.022.288 1.022.883v.447h-.357c-1.738 0-2.522.674-2.522 1.687 0 .873.516 1.37 1.489 1.37.625 0 1.092-.258 1.529-.636l.08.537h.793ZM9.144 30.784c-.289.421-.755.754-1.265.943l-.5-.588c.389-.2.722-.521.877-.82.134-.267.189-.61.189-1.432v-5.644H9.52v5.566c0 1.099-.088 1.542-.376 1.975Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/javaa"
                        ><path
                          fill="#fff"
                          d="M0 0h17.454v32H0z"
                          transform="translate(7)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/javascript-sdk/"
                  class="sdk js js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 33 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/js"
                    ><path
                      fill="#2B2B2B"
                      d="m8.5 19.796 1.974-1.188c.38.672.727 1.24 1.557 1.24.797 0 1.299-.31 1.299-1.515v-8.195h2.423v8.229c0 2.496-1.471 3.633-3.618 3.633C10.197 22 9.071 21 8.5 19.796Zm8.57-.258 1.973-1.136c.52.843 1.195 1.463 2.389 1.463 1.004 0 1.645-.5 1.645-1.188 0-.826-.658-1.119-1.766-1.6l-.606-.26c-1.748-.74-2.908-1.67-2.908-3.632 0-1.808 1.385-3.185 3.549-3.185 1.54 0 2.648.534 3.444 1.928l-1.887 1.205c-.415-.74-.865-1.032-1.557-1.032-.71 0-1.16.447-1.16 1.032 0 .724.45 1.016 1.488 1.464l.606.258c2.06.878 3.22 1.774 3.22 3.788 0 2.17-1.714 3.357-4.016 3.357-2.25 0-3.705-1.067-4.414-2.462"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/android-sdk/"
                  class="sdk android js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/android"
                    ><g clip-path="url(#astroicon:custom/androida)"
                      ><path
                        fill="#0F0F0F"
                        d="M12.334 18.578c.828 0 1.498.67 1.498 1.498v6.426a1.498 1.498 0 0 1-2.996 0v-6.426c0-.827.671-1.498 1.498-1.498Z"
                      ></path><path
                        fill="#0F0F0F"
                        d="M8.915 10.852c-.005.056-.01.114-.01.172v9.736c0 1.047.83 1.89 1.858 1.89h9.901c1.029 0 1.858-.843 1.858-1.89v-9.736c0-.058-.002-.116-.007-.172h-13.6Z"
                      ></path><path
                        fill="#0F0F0F"
                        d="M19.093 18.578c.827 0 1.498.67 1.498 1.498v6.426a1.498 1.498 0 1 1-2.996 0v-6.426c0-.827.67-1.498 1.498-1.498Zm-12.594-6.86c.827 0 1.497.67 1.497 1.498v6.426a1.498 1.498 0 0 1-2.996 0v-6.426c0-.827.671-1.498 1.499-1.498Zm18.43 0c.827 0 1.498.67 1.498 1.498v6.426a1.498 1.498 0 0 1-2.996 0v-6.426c0-.827.67-1.498 1.498-1.498ZM8.96 10.212C9 7.222 11.61 4.77 14.96 4.446h1.505c3.351.324 5.961 2.776 6.003 5.766H8.959Z"
                      ></path><path
                        stroke="#0F0F0F"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width=".316"
                        d="m9.48 4.158 1.58 2.737m10.888-2.737-1.58 2.737"
                      ></path><path
                        fill="#fff"
                        d="M13.701 7.532a.766.766 0 0 1-.773.76.767.767 0 0 1-.777-.756v-.004a.766.766 0 0 1 .773-.759.766.766 0 0 1 .777.755v.004Zm5.785 0a.766.766 0 0 1-.773.76.767.767 0 0 1-.777-.756v-.004a.766.766 0 0 1 .773-.759.766.766 0 0 1 .777.755v.004Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/androida"
                        ><path
                          fill="#fff"
                          d="M0 0h21.427v24H0z"
                          transform="translate(5 4)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/apollo-graphql/"
                  class="sdk graphql js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/graphql"
                    ><path
                      fill="#2B2B2B"
                      d="m5.958 22.04.92.53 10.25-17.752-.92-.531-10.25 17.752Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="M26.247 20.62h-20.5v1.063h20.5v-1.062Z"></path><path
                      fill="#2B2B2B"
                      d="m6.153 21.218 10.253 5.92.531-.92-10.253-5.92-.531.92ZM15.06 5.789l10.254 5.92.53-.92-10.253-5.92-.531.92Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="m6.156 10.784.531.92 10.253-5.92-.53-.92-10.254 5.92Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="m14.875 4.818 10.25 17.752.92-.53-10.25-17.753-.92.531ZM7.622 10.08H6.56v11.84h1.062V10.08Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="M25.44 10.08h-1.062v11.84h1.062V10.08Z"></path><path
                      fill="#2B2B2B"
                      d="m15.762 25.884.464.804 8.917-5.149-.464-.804-8.917 5.15Z"
                    ></path><path
                      fill="#2B2B2B"
                      d="M26.848 22.266a2.237 2.237 0 0 1-3.053.819 2.237 2.237 0 0 1-.819-3.053 2.237 2.237 0 0 1 3.053-.82 2.227 2.227 0 0 1 .819 3.054ZM9.018 11.968a2.237 2.237 0 0 1-3.053.82 2.237 2.237 0 0 1-.82-3.054 2.237 2.237 0 0 1 3.053-.819 2.239 2.239 0 0 1 .82 3.053ZM5.152 22.266a2.239 2.239 0 0 1 .82-3.053 2.239 2.239 0 0 1 3.052.819 2.236 2.236 0 0 1-3.872 2.234ZM22.983 11.968a2.239 2.239 0 0 1 .819-3.053 2.239 2.239 0 0 1 3.053.82 2.239 2.239 0 0 1-.82 3.052 2.237 2.237 0 0 1-3.052-.819ZM16 28.531a2.232 2.232 0 0 1-2.234-2.233c0-1.236.999-2.234 2.234-2.234 1.235 0 2.234.998 2.234 2.234A2.236 2.236 0 0 1 16 28.53ZM16 7.936a2.232 2.232 0 0 1-2.234-2.234c0-1.235.999-2.233 2.234-2.233 1.235 0 2.234.998 2.234 2.233A2.232 2.232 0 0 1 16 7.936Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/elixir-sdk/"
                  class="sdk elixir js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/elixir"
                    ><path d="M0 0h32v32H0z"></path><path
                      stroke="#000"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M15.5 28a7.5 7.5 0 0 0 7.5-7.5c0-6.75-6.75-7.5-6.75-16.5C12.125 8.125 8 12.813 8 20.5a7.5 7.5 0 0 0 7.5 7.5Z"
                    ></path><path
                      stroke="#000"
                      stroke-width="1.5"
                      d="M8.017 21.5C9.917 23.062 12.35 24 15 24a10.97 10.97 0 0 0 8-3.45"
                    ></path><path
                      stroke="#000"
                      stroke-width="1.5"
                      d="M18 27.652c-2.867-1.354-5-6.505-5-12.652 0-4.163.978-7.868 2.5-10.248"
                    ></path><path
                      stroke="#000"
                      stroke-width="1.5"
                      d="M16.376 6.158C14.914 7.618 14 9.695 14 12c0 4.418 3.358 8 7.5 8 .514 0 1.015-.055 1.5-.16"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/ios-sdk/"
                  class="sdk ios js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 33 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/ios"
                    ><path
                      fill="#2B2B2B"
                      d="M2.63 22.67h2.316v-9.857H2.63v9.856Zm1.153-11.15c.726 0 1.293-.558 1.293-1.255C5.076 9.558 4.509 9 3.783 9 3.067 9 2.5 9.558 2.5 10.265c0 .697.567 1.255 1.283 1.255Zm8.872-2.492c-3.915 0-6.37 2.669-6.37 6.937 0 4.268 2.455 6.928 6.37 6.928 3.905 0 6.36-2.66 6.36-6.928s-2.454-6.937-6.36-6.937Zm0 2.046c2.39 0 3.915 1.897 3.915 4.89 0 2.986-1.525 4.883-3.915 4.883-2.4 0-3.915-1.897-3.915-4.882 0-2.994 1.516-4.891 3.915-4.891Zm7.337 7.82c.102 2.474 2.13 3.999 5.217 3.999 3.245 0 5.291-1.6 5.291-4.148 0-1.999-1.153-3.124-3.878-3.747l-1.543-.353c-1.646-.391-2.325-.912-2.325-1.804 0-1.116 1.023-1.86 2.539-1.86 1.534 0 2.585.753 2.696 2.008h2.288c-.056-2.362-2.009-3.961-4.966-3.961-2.92 0-4.993 1.609-4.993 3.99 0 1.915 1.171 3.105 3.645 3.672l1.739.41c1.692.4 2.38.957 2.38 1.924 0 1.116-1.125 1.916-2.743 1.916-1.637 0-2.873-.809-3.022-2.046h-2.325Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/dotnet-sdk/"
                  class="sdk dotnet js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 33 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/dotnet"
                    ><g clip-path="url(#astroicon:custom/dotneta)"
                      ><path
                        fill="#0F0F0F"
                        d="M3.56 21.4a.993.993 0 0 1-.71-.28.916.916 0 0 1-.292-.678c0-.267.097-.495.292-.686a.98.98 0 0 1 .71-.285c.284 0 .523.095.718.285.2.19.3.42.3.686 0 .262-.1.488-.3.679a1.001 1.001 0 0 1-.717.278Z"
                      ></path><path
                        fill="#000"
                        d="M14.7 21.242h-1.811l-4.772-7.528a3.37 3.37 0 0 1-.3-.593h-.042c.038.22.056.688.056 1.407v6.714H6.23V11h1.93l4.611 7.35c.195.304.32.514.376.628h.028c-.046-.271-.07-.73-.07-1.379V11H14.7v10.242ZM22.502 21.242h-5.608V11h5.385v1.443h-3.727v2.9h3.434v1.435h-3.434v3.028h3.95v1.436ZM30.471 12.443h-2.87v8.799h-1.658v-8.8H23.08V11h7.391v1.443Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/dotneta"
                        ><path
                          fill="#fff"
                          d="M0 0h28v10.457H0z"
                          transform="translate(2.5 11)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/nextjs-sdk/"
                  class="sdk next js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="red"
                    viewBox="0 0 394 80"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="nextjs"
                    ><path
                      fill="#000"
                      d="M261.919.033h68.628V12.7h-27.224v66.639H289.71V12.7h-27.791V.033ZM149.052.033V12.7h-55.01v20.377h44.239v12.667H94.042v20.928h55.01V79.34H80.43V12.7h-.006V.033h68.628ZM183.32.066h-17.814l63.806 79.306h17.866l-31.907-39.626L247.127.126l-17.815.028-22.96 28.516L183.32.066ZM201.6 56.715l-8.921-11.092-27.224 33.81h17.865l18.28-22.718Z"
                    ></path><path
                      fill="#000"
                      fill-rule="evenodd"
                      d="M80.907 79.339 17.015 0H0v79.306h13.612V16.952l50.195 62.387h17.1Z"
                      clip-rule="evenodd"></path><path
                      fill="#000"
                      d="M333.607 78.855a3.528 3.528 0 0 1-2.555-1.036c-.71-.691-1.061-1.527-1.052-2.518-.009-.963.342-1.79 1.052-2.481a3.528 3.528 0 0 1 2.555-1.036c.959 0 1.798.345 2.508 1.036.72.69 1.079 1.518 1.089 2.481a3.44 3.44 0 0 1-.508 1.79 3.675 3.675 0 0 1-1.319 1.282 3.403 3.403 0 0 1-1.77.482ZM356.84 45.445h6.032v23.24c-.009 2.135-.471 3.962-1.374 5.498-.913 1.536-2.177 2.708-3.8 3.535-1.614.818-3.505 1.237-5.654 1.237-1.965 0-3.726-.355-5.294-1.046-1.568-.69-2.813-1.726-3.726-3.09-.923-1.363-1.375-3.063-1.375-5.098h6.042c.009.89.212 1.663.599 2.308a3.855 3.855 0 0 0 1.605 1.481c.691.346 1.485.519 2.379.519.969 0 1.799-.2 2.472-.61.673-.4 1.19-1 1.55-1.799.35-.79.535-1.772.544-2.935v-23.24ZM387.691 54.534c-.147-1.409-.793-2.509-1.918-3.29-1.135-.79-2.601-1.182-4.4-1.182-1.263 0-2.351.191-3.255.564-.904.382-1.605.89-2.085 1.536-.479.645-.719 1.381-.738 2.208 0 .691.166 1.29.489 1.79.323.51.756.937 1.319 1.282a8.806 8.806 0 0 0 1.845.882c.682.236 1.365.436 2.047.6l3.145.772a21.74 21.74 0 0 1 3.662 1.182 12.966 12.966 0 0 1 3.163 1.872 8.384 8.384 0 0 1 2.214 2.726c.544 1.064.821 2.309.821 3.745 0 1.936-.498 3.635-1.504 5.108-1.005 1.463-2.453 2.608-4.353 3.435-1.891.818-4.178 1.236-6.871 1.236-2.601 0-4.87-.4-6.779-1.2-1.918-.79-3.413-1.954-4.492-3.48-1.079-1.527-1.66-3.39-1.743-5.58h5.977c.083 1.144.452 2.099 1.079 2.871.636.763 1.466 1.327 2.481 1.709 1.024.372 2.167.563 3.431.563 1.319 0 2.481-.2 3.486-.59.996-.391 1.78-.937 2.343-1.646.572-.7.858-1.526.867-2.472-.009-.863-.268-1.581-.766-2.145-.507-.563-1.208-1.036-2.103-1.417a21.606 21.606 0 0 0-3.154-1.027l-3.818-.964c-2.758-.7-4.944-1.763-6.54-3.19-1.604-1.427-2.398-3.317-2.398-5.69 0-1.944.535-3.653 1.615-5.116 1.069-1.463 2.536-2.6 4.39-3.408 1.863-.818 3.966-1.218 6.308-1.218 2.38 0 4.464.4 6.263 1.218 1.798.809 3.21 1.936 4.233 3.372 1.024 1.436 1.559 3.08 1.587 4.944h-5.848Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/nodejs-sdk/"
                  class="sdk node js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 33 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/js"
                    ><path
                      fill="#2B2B2B"
                      d="m8.5 19.796 1.974-1.188c.38.672.727 1.24 1.557 1.24.797 0 1.299-.31 1.299-1.515v-8.195h2.423v8.229c0 2.496-1.471 3.633-3.618 3.633C10.197 22 9.071 21 8.5 19.796Zm8.57-.258 1.973-1.136c.52.843 1.195 1.463 2.389 1.463 1.004 0 1.645-.5 1.645-1.188 0-.826-.658-1.119-1.766-1.6l-.606-.26c-1.748-.74-2.908-1.67-2.908-3.632 0-1.808 1.385-3.185 3.549-3.185 1.54 0 2.648.534 3.444 1.928l-1.887 1.205c-.415-.74-.865-1.032-1.557-1.032-.71 0-1.16.447-1.16 1.032 0 .724.45 1.016 1.488 1.464l.606.258c2.06.878 3.22 1.774 3.22 3.788 0 2.17-1.714 3.357-4.016 3.357-2.25 0-3.705-1.067-4.414-2.462"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/sveltekit-sdk/"
                  class="sdk svelte js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="svelte"
                    ><g clip-path="url(#astroicon:sveltea)"
                      ><path
                        fill="#000"
                        d="M26.005 6.57c-2.494-3.593-7.46-4.646-11.029-2.38L8.684 8.217a7.151 7.151 0 0 0-3.25 4.828c-.297 1.67-.045 3.386.756 4.874a6.908 6.908 0 0 0-1.076 2.7 7.699 7.699 0 0 0 1.304 5.811c2.517 3.593 7.46 4.645 11.03 2.38l6.292-4.004a7.151 7.151 0 0 0 3.249-4.828c.297-1.67.046-3.387-.755-4.874a6.91 6.91 0 0 0 1.075-2.7 7.539 7.539 0 0 0-1.304-5.835Z"
                      ></path><path
                        fill="#fff"
                        d="M14.358 26.774a4.988 4.988 0 0 1-5.354-1.99c-.732-1.008-1.007-2.266-.8-3.502.045-.206.09-.389.137-.595l.114-.366.32.229c.755.55 1.58.961 2.472 1.236l.228.068-.022.23c-.023.32.068.663.251.937a1.514 1.514 0 0 0 1.625.618c.137-.046.274-.091.389-.16l6.27-4.004c.32-.206.526-.504.594-.87a1.42 1.42 0 0 0-.229-1.052 1.502 1.502 0 0 0-1.624-.595 1.978 1.978 0 0 0-.39.16l-2.402 1.533a4.256 4.256 0 0 1-1.281.549 4.987 4.987 0 0 1-5.354-1.99 4.621 4.621 0 0 1-.778-3.502 4.333 4.333 0 0 1 1.968-2.905l6.292-4.005a4.98 4.98 0 0 1 1.281-.572 4.987 4.987 0 0 1 5.354 1.991c.733 1.007 1.007 2.265.801 3.5a5.718 5.718 0 0 1-.16.596l-.114.366-.32-.229a8.348 8.348 0 0 0-2.472-1.236l-.229-.068.023-.229a1.531 1.531 0 0 0-.251-.938 1.502 1.502 0 0 0-1.625-.595 1.98 1.98 0 0 0-.389.16l-6.27 4.004c-.32.206-.526.504-.594.87a1.42 1.42 0 0 0 .228 1.052 1.502 1.502 0 0 0 1.625.595c.137-.046.275-.091.389-.16l2.403-1.533a4.98 4.98 0 0 1 1.28-.572 4.987 4.987 0 0 1 5.355 1.99c.732 1.008 1.007 2.266.801 3.502a4.333 4.333 0 0 1-1.968 2.905l-6.292 4.005a4.98 4.98 0 0 1-1.282.572Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:sveltea"
                        ><path
                          fill="#fff"
                          d="M0 0h22.447v27H0z"
                          transform="translate(5 3)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/php-sdk/"
                  class="sdk php js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/php"
                    ><path
                      fill="#2B2B2B"
                      d="M3.512 11.915h4.181c1.228.01 2.117.364 2.668 1.06.552.697.734 1.65.546 2.856a5.475 5.475 0 0 1-.483 1.623 4.82 4.82 0 0 1-.999 1.435c-.52.541-1.076.884-1.67 1.03a7.688 7.688 0 0 1-1.84.218H4.041l-.593 2.965H1.28l2.232-11.187Zm1.825 1.778-.936 4.681c.062.01.125.016.187.016h.219c.998.01 1.83-.088 2.496-.297.666-.218 1.113-.977 1.342-2.278.187-1.092 0-1.721-.562-1.888-.551-.166-1.243-.244-2.075-.234a4.37 4.37 0 0 1-.359.016h-.327l.015-.016ZM13.378 8.934h2.153l-.608 2.98h1.935c1.06.021 1.851.24 2.371.656.53.416.687 1.207.469 2.372l-1.046 5.195h-2.184l.998-4.961c.104-.52.073-.89-.093-1.108-.167-.219-.526-.328-1.077-.328l-1.732-.015-1.28 6.412h-2.153l2.247-11.203ZM22.01 11.915h4.181c1.228.01 2.117.364 2.668 1.06.552.697.734 1.65.546 2.856a5.478 5.478 0 0 1-.483 1.623 4.822 4.822 0 0 1-.999 1.435c-.52.541-1.076.884-1.67 1.03a7.688 7.688 0 0 1-1.84.218H22.54l-.593 2.965h-2.169l2.232-11.187Zm1.825 1.778-.936 4.681c.062.01.125.016.187.016h.219c.998.01 1.83-.088 2.496-.297.666-.218 1.113-.977 1.342-2.278.187-1.092 0-1.721-.562-1.888-.551-.166-1.243-.244-2.075-.234a4.37 4.37 0 0 1-.359.016h-.327l.015-.016Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/python-sdk/"
                  class="sdk python js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/python"
                    ><g
                      fill="#2B2B2B"
                      clip-path="url(#astroicon:custom/pythona)"
                      ><path
                        d="M15.914 6.006c-5.064 0-4.748 2.196-4.748 2.196l.006 2.275h4.833v.683H9.252s-3.24-.367-3.24 4.743 2.828 4.929 2.828 4.929h1.688v-2.371s-.091-2.829 2.784-2.829h4.793s2.693.043 2.693-2.603V8.654s.41-2.648-4.884-2.648Zm-2.665 1.53a.868.868 0 1 1 0 1.739.869.869 0 1 1 0-1.74Z"
                      ></path><path
                        d="M16.058 25.852c5.065 0 4.748-2.197 4.748-2.197l-.005-2.275h-4.833v-.683h6.752s3.241.367 3.241-4.743-2.828-4.929-2.828-4.929h-1.689v2.372s.091 2.828-2.783 2.828h-4.794s-2.693-.043-2.693 2.603v4.376s-.409 2.648 4.884 2.648Zm2.665-1.53a.868.868 0 0 1-.615-1.485.87.87 0 1 1 .615 1.485Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/pythona"
                        ><path
                          fill="#fff"
                          d="M0 0h20v19.92H0z"
                          transform="translate(6 6)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/react-sdk/"
                  class="sdk react js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/react"
                    ><path
                      fill="#2B2B2B"
                      d="M16 18.952a2.496 2.496 0 1 0 0-4.992 2.496 2.496 0 0 0 0 4.992Z"
                    ></path><path
                      fill="#2B2B2B"
                      fill-rule="evenodd"
                      d="M4.069 14.918c-.602.543-.852 1.064-.852 1.538s.25.995.852 1.538c.602.544 1.508 1.062 2.679 1.509 2.338.892 5.609 1.457 9.252 1.457 3.643 0 6.914-.565 9.252-1.457 1.171-.447 2.077-.965 2.68-1.509.602-.543.85-1.064.85-1.538s-.248-.995-.85-1.538c-.603-.544-1.509-1.062-2.68-1.509-2.338-.892-5.609-1.457-9.252-1.457-3.643 0-6.914.565-9.252 1.457-1.171.447-2.077.965-2.68 1.509Zm2.245-2.646c2.509-.958 5.933-1.538 9.686-1.538s7.177.58 9.686 1.538c1.253.478 2.308 1.062 3.06 1.742.754.68 1.254 1.504 1.254 2.442 0 .938-.5 1.762-1.253 2.442-.753.68-1.808 1.264-3.06 1.742-2.51.958-5.934 1.538-9.687 1.538-3.753 0-7.177-.58-9.686-1.538-1.253-.478-2.308-1.062-3.06-1.742C2.5 18.218 2 17.394 2 16.456c0-.938.5-1.762 1.253-2.442.753-.68 1.808-1.264 3.06-1.742Z"
                      clip-rule="evenodd"></path><path
                      fill="#2B2B2B"
                      fill-rule="evenodd"
                      d="M11.367 5.354c-.773-.25-1.348-.205-1.758.032-.41.237-.737.713-.907 1.507-.17.793-.165 1.836.033 3.074.396 2.471 1.542 5.586 3.364 8.741 1.822 3.155 3.946 5.706 5.888 7.284.973.79 1.874 1.316 2.646 1.566.772.25 1.348.205 1.758-.032.41-.237.737-.713.907-1.506.17-.794.165-1.837-.033-3.075-.396-2.47-1.543-5.586-3.364-8.741-1.822-3.155-3.946-5.705-5.889-7.284-.972-.79-1.873-1.316-2.645-1.566Zm3.413.621c2.084 1.694 4.299 4.37 6.175 7.62 1.876 3.25 3.087 6.506 3.512 9.158.212 1.323.233 2.53.021 3.521-.212.992-.676 1.837-1.488 2.306-.813.47-1.776.448-2.742.136-.965-.312-1.998-.934-3.038-1.78-2.084-1.693-4.299-4.37-6.175-7.62-1.877-3.249-3.087-6.505-3.512-9.156-.212-1.324-.234-2.53-.021-3.522.212-.992.675-1.837 1.488-2.306.812-.47 1.776-.448 2.741-.136.966.312 2 .934 3.04 1.78Z"
                      clip-rule="evenodd"></path><path
                      fill="#2B2B2B"
                      fill-rule="evenodd"
                      d="M23.298 6.893c-.17-.794-.496-1.27-.907-1.507-.41-.237-.986-.282-1.758-.032-.772.25-1.673.776-2.646 1.566-1.942 1.579-4.066 4.129-5.888 7.284-1.822 3.155-2.968 6.27-3.364 8.741-.198 1.238-.203 2.281-.033 3.075.17.793.496 1.27.907 1.506.41.237.986.282 1.758.032.772-.25 1.673-.776 2.645-1.566 1.943-1.579 4.067-4.129 5.889-7.284 1.821-3.155 2.968-6.27 3.364-8.741.198-1.238.203-2.28.033-3.074Zm1.169 3.267c-.425 2.651-1.636 5.907-3.512 9.157-1.876 3.25-4.09 5.926-6.175 7.62-1.04.845-2.073 1.467-3.039 1.78-.965.311-1.929.332-2.741-.137-.813-.469-1.276-1.314-1.488-2.306-.213-.992-.19-2.198.021-3.521.425-2.652 1.635-5.908 3.512-9.158 1.876-3.25 4.09-5.926 6.175-7.62 1.04-.845 2.073-1.467 3.038-1.779.966-.312 1.93-.333 2.742.136.812.469 1.276 1.314 1.488 2.306.212.992.19 2.198-.021 3.522Z"
                      clip-rule="evenodd"></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/flutter-sdk/"
                  class="sdk flutter js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/flutter"
                    ><mask
                      id="astroicon:custom/fluttera"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/fluttera)"
                      ><path
                        fill="url(#astroicon:custom/flutterb)"
                        d="M10.091 13.649h20.165v15.648H10.091z"></path><path
                        fill="#000"
                        d="M27.615 14.923H19l-7.537 7.54 4.306 4.306 11.846-11.846Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/flutterc"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/flutterc)"
                      ><path
                        fill="#000"
                        d="M9.308 20.309 5 16 19 2h8.615L9.308 20.309Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/flutterd"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/flutterd)"
                      ><path
                        fill="#000"
                        d="M15.769 26.77 19 30h8.615l-7.537-7.538-4.31 4.307Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/fluttere"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/fluttere)"
                      ><path
                        fill="url(#astroicon:custom/flutterf)"
                        d="m15.769 26.77 6.39-2.212-2.081-2.096-4.31 4.307Z"
                      ></path></g
                    ><mask
                      id="astroicon:custom/flutterg"
                      width="23"
                      height="28"
                      x="5"
                      y="2"
                      maskUnits="userSpaceOnUse"
                      ><path
                        fill="#fff"
                        d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                      ></path></mask
                    ><g mask="url(#astroicon:custom/flutterg)"
                      ><path
                        fill="#000"
                        d="m15.77 18.155-4.308 4.307 4.307 4.308 4.308-4.308-4.308-4.307Z"
                      ></path></g
                    ><path
                      fill="url(#astroicon:custom/flutterh)"
                      d="m27.615 14.923-7.538 7.539L27.615 30H19l-3.23-3.231-4.309-4.308L19 14.922l8.615.001ZM19 2 5 16l4.308 4.309L27.615 2H19Z"
                    ></path><defs
                      ><pattern
                        id="astroicon:custom/flutterb"
                        width="1"
                        height="1"
                        patternContentUnits="objectBoundingBox"
                        ><use
                          xlink:href="#astroicon:custom/flutteri"
                          transform="scale(.00787 .0101)"></use></pattern
                      ><linearGradient
                        id="astroicon:custom/flutterf"
                        x1="17.026"
                        x2="20.234"
                        y1="27.601"
                        y2="24.393"
                        gradientUnits="userSpaceOnUse"
                        ><stop stop-color="#1A237E" stop-opacity=".4"
                        ></stop><stop
                          offset="1"
                          stop-color="#1A237E"
                          stop-opacity="0"></stop></linearGradient
                      ><radialGradient
                        id="astroicon:custom/flutterh"
                        cx="0"
                        cy="0"
                        r="1"
                        gradientTransform="translate(5.636 3.909) scale(34.2569)"
                        gradientUnits="userSpaceOnUse"
                        ><stop stop-color="#fff" stop-opacity=".1"></stop><stop
                          offset="1"
                          stop-color="#fff"
                          stop-opacity="0"></stop></radialGradient
                      ></defs
                    ></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/ruby-sdk/"
                  class="sdk ruby js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/ruby"
                    ><path d="M0 0h32v32H0z"></path><path
                      stroke="#000"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M7.328 24.328 24.114 7.543M5.899 15.757 25.542 25.4M16.257 6.114l8.928 18.928m-12.5-6.07L10.9 10.756l8.215 1.786m-12.48 2.479 8.53-8.53a2.02 2.02 0 0 1 1.761-.564l5.985.997a2.02 2.02 0 0 1 1.682 1.838L25.9 25.757 8.906 24.45a2.02 2.02 0 0 1-1.838-1.683l-.998-5.985a2.02 2.02 0 0 1 .565-1.76Z"
                    ></path></svg
                  >
                </a><a
                  role="button"
                  data-link="/docs/developer-tools/java-sdk/"
                  class="sdk java js-sdk-link astro-KWFDDM2J"
                >
                  <svg
                    fill="none"
                    viewBox="0 0 32 32"
                    width="32"
                    class="astro-KWFDDM2J"
                    astro-icon="custom/java"
                    ><g fill="#000" clip-path="url(#astroicon:custom/javaa)"
                      ><path
                        d="M23.588 25.073h-.119v-.066h.32v.066h-.118v.331h-.083v-.33Zm.636.017h-.001l-.118.314h-.054l-.116-.314h-.002v.314h-.078v-.397h.115l.108.281.108-.281h.115v.397h-.077v-.314ZM12.974 16.95s-.825.48.587.642c1.71.195 2.585.167 4.47-.19 0 0 .496.31 1.188.58-4.226 1.811-9.564-.105-6.245-1.032ZM12.458 14.586s-.925.685.488.831c1.827.189 3.27.204 5.767-.277 0 0 .345.35.888.542-5.109 1.494-10.8.118-7.143-1.096ZM16.81 10.577c1.042 1.2-.273 2.278-.273 2.278s2.644-1.365 1.43-3.074c-1.134-1.594-2.004-2.386 2.704-5.116 0 0-7.39 1.846-3.86 5.912Z"
                      ></path><path
                        d="M22.4 18.698s.61.503-.672.892c-2.44.739-10.153.962-12.295.03-.77-.336.674-.8 1.128-.898.474-.103.745-.084.745-.084-.857-.603-5.536 1.185-2.377 1.697 8.616 1.397 15.706-.63 13.47-1.637ZM13.37 12.138s-3.922.932-1.388 1.27c1.07.143 3.202.11 5.189-.056 1.623-.137 3.254-.428 3.254-.428s-.573.245-.987.528c-3.984 1.048-11.68.56-9.465-.511 1.874-.906 3.398-.803 3.398-.803ZM20.409 16.072c4.05-2.105 2.177-4.127.87-3.855-.32.067-.463.125-.463.125s.119-.187.346-.267c2.586-.91 4.574 2.68-.835 4.103 0 0 .063-.056.082-.106ZM17.967.256S20.21 2.5 15.84 5.95c-3.505 2.767-.8 4.345-.002 6.148-2.045-1.845-3.547-3.47-2.54-4.982 1.479-2.22 5.574-3.296 4.669-6.86Z"
                      ></path><path
                        d="M13.769 21.774c3.887.25 9.857-.138 9.998-1.977 0 0-.272.697-3.213 1.25-3.318.625-7.41.552-9.837.152 0 0 .497.411 3.052.575ZM13.132 28.803c-.367.318-.754.496-1.102.496-.496 0-.764-.297-.764-.774 0-.516.287-.894 1.44-.894h.426v1.172Zm1.012 1.142V26.41c0-.902-.515-1.498-1.757-1.498-.725 0-1.36.179-1.875.407l.149.626c.406-.15.932-.288 1.448-.288.715 0 1.023.288 1.023.883v.447h-.357c-1.738 0-2.522.674-2.522 1.687 0 .873.517 1.37 1.49 1.37.625 0 1.091-.258 1.527-.636l.08.537h.794ZM17.52 29.945H16.26L14.739 25h1.103l.942 3.037.21.914c.477-1.32.814-2.66.983-3.95h1.072c-.288 1.627-.804 3.414-1.528 4.943ZM22.362 28.803c-.367.318-.755.496-1.103.496-.495 0-.764-.297-.764-.774 0-.516.288-.894 1.44-.894h.427v1.172Zm1.012 1.142V26.41c0-.902-.516-1.498-1.756-1.498-.726 0-1.36.179-1.876.407l.148.626c.407-.15.934-.288 1.45-.288.714 0 1.022.288 1.022.883v.447h-.357c-1.738 0-2.522.674-2.522 1.687 0 .873.516 1.37 1.489 1.37.625 0 1.092-.258 1.529-.636l.08.537h.793ZM9.144 30.784c-.289.421-.755.754-1.265.943l-.5-.588c.389-.2.722-.521.877-.82.134-.267.189-.61.189-1.432v-5.644H9.52v5.566c0 1.099-.088 1.542-.376 1.975Z"
                      ></path></g
                    ><defs
                      ><clipPath id="astroicon:custom/javaa"
                        ><path
                          fill="#fff"
                          d="M0 0h17.454v32H0z"
                          transform="translate(7)"></path></clipPath
                      ></defs
                    ></svg
                  >
                </a>
              </div>
              <div class="sdk-shadow astro-KWFDDM2J"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-home__sdks-list-mobile astro-J7PV25F6">
        <section class="c-sdk-marquee astro-B7OUSCLO" aria-hidden="true">
          <div class="c-sdk-marquee__track astro-B7OUSCLO">
            <div class="c-sdk-marquee__track-inner astro-B7OUSCLO">
              <div class="astro-B7OUSCLO">
                <div class="astro-B7OUSCLO">
                  <svg fill="none" viewBox="0 0 33 32" aria-hidden="true" width="32" class="astro-B7OUSCLO" astro-icon="custom/js">
                    <path fill="#2B2B2B" d="m8.5 19.796 1.974-1.188c.38.672.727 1.24 1.557 1.24.797 0 1.299-.31 1.299-1.515v-8.195h2.423v8.229c0 2.496-1.471 3.633-3.618 3.633C10.197 22 9.071 21 8.5 19.796Zm8.57-.258 1.973-1.136c.52.843 1.195 1.463 2.389 1.463 1.004 0 1.645-.5 1.645-1.188 0-.826-.658-1.119-1.766-1.6l-.606-.26c-1.748-.74-2.908-1.67-2.908-3.632 0-1.808 1.385-3.185 3.549-3.185 1.54 0 2.648.534 3.444 1.928l-1.887 1.205c-.415-.74-.865-1.032-1.557-1.032-.71 0-1.16.447-1.16 1.032 0 .724.45 1.016 1.488 1.464l.606.258c2.06.878 3.22 1.774 3.22 3.788 0 2.17-1.714 3.357-4.016 3.357-2.25 0-3.705-1.067-4.414-2.462"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="c-center u-mt-large-2 astro-J7PV25F6 astro-W2GOKGZQ">
      <a
        class="c-link c-link__web-link-1 astro-J7PV25F6 astro-LV35K6IU"
        href="/docs/"
      >
        See all supported languages and frameworks
      </a>
    </div>
  </div>
</section>
