---
import Gucci from "../../assets/logo/Gucci.astro";
import LV from "../../assets/logo/LouisVuitton.astro";
---

<style>
  ._graphic_3fli4_142 {
    aspect-ratio: 700/550;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0;
    max-width: 700px;
    width: 100%;
  }

  ._box_3fli4_158 {
    align-items: center;
    background-color: #fff;
    border-radius: var(--border-radius-large);
    display: flex;
    height: 100%;
    justify-content: center;
    /* opacity: 0; */
    /* transform: scale(.75); */
    transition: all 0.8s var(--ease);
    width: 100%;
  }

.brand-logo-items {
    @apply rounded-xl bg-white flex justify-center items-center;
}

.wrapper {
    @apply rounded-3xl;
    max-width: calc(100vw - 180px);
    background-image: linear-gradient(90deg,#eff3f500 0,#eff3f503 8.1%,#eff3f50c 15.5%,#eff3f51b 22.5%,#eff3f52d 29%,#eff3f542 35.3%,#eff3f55a,#eff3f573 47.1%,#eff3f58c 52.9%,#eff3f5a5,#eff3f5bd 64.7%,#eff3f5d2 71%,#eff3f5e4 77.5%,#eff3f5f3 84.5%,#eff3f5fc 91.9%,#eff3f5);
}

.brand-logo-items:first-child {
    background: linear-gradient(160deg,#fff0 2.55%,#ffffffbf)
}

.brand-logo-items:nth-child(2) {
    background: linear-gradient(180deg,#fff0 2.55%,#ffffffd9);
    box-shadow: 0 10px 10px #00000004
}

.brand-logo-items:nth-child(3) {
    background: linear-gradient(230deg,#fff0 2.55%,#ffffff8c);
}

.brand-logo-items:nth-child(4),.brand-logo-items:nth-child(5),.brand-logo-items:nth-child(7),.brand-logo-items:nth-child(8) {
    box-shadow: 0 0 20px #0000000a
}

.brand-logo-items:nth-child(6),.brand-logo-items:nth-child(9) {
    background: linear-gradient(249.54deg,#fff0 2.55%,#ffffffd4);
    box-shadow: -10px 0 10px #00000004
}

.brand-logo-items:nth-child(10) {
    background: linear-gradient(30deg,#fff0 2.55%,#ffffffbf)
}

.brand-logo-items:nth-child(11) {
    background: linear-gradient(0deg,#fff0 2.55%,#ffffffd9);
    box-shadow: 0 -10px 10px #00000004
}
.brand-logo-items:nth-child(12) {
    background: linear-gradient(300deg,#fff0 2.55%,#ffffff8c)
}

</style>
<figure class="wrapper rounded-lg p-10 mx-auto">
  <div class="flex justify-center items-center">
    <!-- <div class="description text-4xl">超过2000个品牌供您挑选。</div> -->
    <h1 class="text-4xl">
        超过2000个品牌 
        <span class="block"></span>
        供您挑选。
      </h1>
    <div
      id="home-widget-platforms"
      class="_graphic_3fli4_142"
      aria-label="Grid of website builder logos"
    >
      <div class="brand-logo-items"></div>
      <div class="brand-logo-items">
        <Gucci width="100" />
      </div>
      <div class="brand-logo-items"></div>
      <div class="brand-logo-items">
        <LV />
      </div>
      <div class="brand-logo-items">
        <img
          width="168"
          height="18"
          data-src="/_astro/squarespace.RXM5VO8_.svg"
          alt="Squarespace"
          src="/_astro/squarespace.RXM5VO8_.svg"
          class="loaded"
        />
      </div>
      <div class="brand-logo-items">
        <img
          width="94"
          height="21"
          data-src="/_astro/lightspeed.CPvOM9md.svg"
          alt="lightspeed"
          src="/_astro/lightspeed.CPvOM9md.svg"
          class="loaded"
        />
      </div>
      <div class="brand-logo-items">
        <img
          width="77"
          height="22"
          data-src="/_astro/shopify.26-n443P.svg"
          alt="Shopify"
          src="/_astro/shopify.26-n443P.svg"
          class="loaded"
        />
      </div>
      <div class="brand-logo-items">
        <img
          width="86"
          height="22"
          data-src="/_astro/drupal.pT3qceqq.svg"
          alt="drupal"
          src="/_astro/drupal.pT3qceqq.svg"
          class="loaded"
        />
      </div>
      <div class="brand-logo-items">
        <img
          width="69"
          height="25"
          data-src="/_astro/ghost.j5CV_yHK.svg"
          alt="Ghost"
          src="/_astro/ghost.j5CV_yHK.svg"
          class="loaded"
        />
      </div>
      <div class="brand-logo-items"></div>
      <div class="brand-logo-items">
        <img
          width="40"
          height="16"
          data-src="/_astro/wix.tyOwew6g.svg"
          alt="Wix"
          src="/_astro/wix.tyOwew6g.svg"
          class="loaded"
        />
      </div>
      <div class="brand-logo-items"></div>
    </div>
  </div>
</figure>
