<style>
    section:where(.astro-J7PV25F6).p-home__hero {
    display: grid;
    min-height: 80vh;
    place-items: center;
}

.p-home__hero-title:where(.astro-J7PV25F6) {
    font-size: clamp(3.25rem,6vw,6rem);
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: .9278;
    margin-block-end: 3.5rem;
}

.c-body-text--web-body-1:where(.astro-N2675GOD) {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.25;
}

.p-home__hero-title:where(.astro-J7PV25F6) {
    font-size: clamp(3.25rem,6vw,6rem);
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: .9278;
    margin-block-end: 3.5rem;
}
</style>
<section class="c-responsive-section u-bg-white p-home__hero astro-J7PV25F6 astro-WIVZ3U7F">
  <div class="c-container c-container--large astro-J7PV25F6 astro-I4TGLJLN">
    <div class="c-center astro-J7PV25F6 astro-W2GOKGZQ">
      <h1 class="p-home__hero-title astro-J7PV25F6">
        获取全球时尚趋势 
        <span class="block"></span>
        就是这么简单.
      </h1>

      <p
        class="c-body-text c-body-text--web-body-1 u-mb-large-2 p-home__hero-subtitle astro-J7PV25F6 astro-N2675GOD"
      >
        汇集超过22,000个国际品牌.100,000+时尚单品。
        <span class="block"></span>
        24H不间断更新，帮您时刻掌握最近流行时尚趋势。
      </p>
    </div>
  </div>
</section>
