<style>
    section:where(.astro-J7PV25F6).p-home__hero {
    display: grid;
    min-height: 80vh;
    place-items: center;
}

.p-home__hero-title:where(.astro-J7PV25F6) {
    font-size: clamp(3.25rem,6vw,6rem);
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: .9278;
    margin-block-end: 3.5rem;
}

.c-body-text--web-body-1:where(.astro-N2675GOD) {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.25;
}

.p-home__hero-title:where(.astro-J7PV25F6) {
    font-size: clamp(3.25rem,6vw,6rem);
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: .9278;
    margin-block-end: 3.5rem;
}
.updates__background-illustration {
    position: absolute;
    top: -400px;
    right: -400px;
    width: 1400px;
}
</style>
<section class="c-responsive-section u-bg-white p-home__hero astro-J7PV25F6 astro-WIVZ3U7F">
  <svg viewBox="0 0 1765 1312" fill="none" xmlns="http://www.w3.org/2000/svg" class="updates__background-illustration" aria-hidden="true">
    <g opacity="0.14" filter="url(#GlowIllustration--a:r5Rb:)">
      <path d="M951.5 503 428 200.5 200.5 594l525 306.5 226-397.5Z" fill="url(#GlowIllustration--b:r5Rb:)"></path>
    </g>
    <g opacity="0.14" filter="url(#GlowIllustration--c:r5Rb:)">
      <path d="M1034.5 252.5 685 645l528.5 467 351-394-530-465.5Z" fill="url(#GlowIllustration--d:r5Rb:"></path>
    </g>
    <defs>
      <linearGradient id="GlowIllustration--b:r5Rb:" x1="723" y1="369.5" x2="497" y2="781.5" gradientUnits="userSpaceOnUse">
        <stop stop-color="#A9BFF4"></stop><stop offset="0.112" stop-color="#A9BFF4"></stop>
        <stop offset="0.142" stop-color="#8474DE"></stop><stop offset="0.298" stop-color="#B558C9"></stop>
        <stop offset="0.389" stop-color="#DB7F96"></stop><stop offset="0.476" stop-color="#E39C97"></stop>
        <stop offset="0.666" stop-color="#F0CBA2"></stop><stop offset="1" stop-color="#FBF1BB"></stop>
      </linearGradient><linearGradient id="GlowIllustration--d:r5Rb:" x1="1255" y1="444" x2="744" y2="627" gradientUnits="userSpaceOnUse">
        <stop stop-color="#F1DDD6"></stop>
        <stop offset="0.301" stop-color="#F1DDD6"></stop>
        <stop offset="0.338" stop-color="#A4B4EA"></stop>
        <stop offset="0.488" stop-color="#85A3EB"></stop>
        <stop offset="0.586" stop-color="#7492E9"></stop>
        <stop offset="0.697" stop-color="#76C7EF"></stop>
        <stop offset="0.792" stop-color="#668EE7"></stop>
        <stop offset="0.879" stop-color="#668EE7"></stop>
        <stop offset="0.921" stop-color="#9A7DED"></stop>
        <stop offset="1" stop-color="#9A7DED"></stop>
      </linearGradient>
      <filter id="GlowIllustration--a:r5Rb:" x="0.5" y="0.5" width="1151" height="1100" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_1090_12745"></feGaussianBlur>
      </filter>
      <filter id="GlowIllustration--c:r5Rb:" x="485" y="52.5" width="1279.5" height="1259.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_1090_12745"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="c-container c-container--large astro-J7PV25F6 astro-I4TGLJLN">
    <div class="c-center astro-J7PV25F6 astro-W2GOKGZQ">
      <h1 class="p-home__hero-title astro-J7PV25F6">
        获取全球时尚趋势 
        <span class="block"></span>
        就是这么简单.
      </h1>

      <p
        class="c-body-text c-body-text--web-body-1 u-mb-large-2 p-home__hero-subtitle astro-J7PV25F6 astro-N2675GOD"
      >
        GogoEx是一个专业潮流时尚网站。
        <span class="block"></span>
        帮您时刻掌握最近流行时尚趋势。
      </p>
    </div>
  </div>
</section>
