<style>
.c-footer__tcs:where(.astro-AK3UPACL) {
    border-block-start: 0.0625rem solid hsl(0 0% 86%);
    padding-block-start: 3.75rem;
}

.c-footer__grid:where(.astro-AK3UPACL) {
    --columns: 2;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    /* display: grid; */
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(var(--columns),1fr);
    margin-block-end: 3.75rem;
    /* max-width: 75rem; */
    margin-inline: auto;
    grid-row-gap: 5.5rem;
    row-gap: 5.5rem;
}
.c-footer__tcs-list:where(.astro-AK3UPACL) {
    --grid-column-start: 5;
    --order: 2;
    --padding-block: 0;
}

.c-footer__tcs-list:where(.astro-AK3UPACL) {
    --grid-column-start: 1;
    --order: 1;
    --padding-block: 3.75rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-start: var(--grid-column-start);
    grid-column-end: 5;
    justify-content: center;
    order: 1;
    order: var(--order);
    padding-inline: 0;
}
    
</style>
<div class="c-footer__grid c-footer__tcs astro-AK3UPACL flex justify-between">
    <ul class="c-footer__tcs-list astro-AK3UPACL">
        <li class="astro-AK3UPACL">
            <a class="c-footer__tcs-link astro-AK3UPACL" href="/docs/important-information/privacy-policy/">Privacy notice
            </a>
        </li>
        <li class="astro-AK3UPACL">
            <a class="c-footer__tcs-link astro-AK3UPACL" href="/docs/important-information/terms-of-service/">Terms of service
            </a>
        </li>
        <li class="astro-AK3UPACL">
            <a class="c-footer__tcs-link astro-AK3UPACL" href="/docs/important-information/end-user-licence-agreement/">End user agreement
            </a>
        </li>
    </ul>
    <div class="c-footer__copyright astro-AK3UPACL">© 2024 Kinde Australia Pty Ltd</div>
</div>