<div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-16">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8 pt-12">
        <div class="text-black">
            <div class="inline-flex text-lg lg:text-4xl items-center gap-3">
                <span> ⎇</span>
                <p class="uppercase font-bold font-display tracking-widest">
                    Outkast
                </p>
            </div>
            <p class="mt-2">
                <span class="mt-6 text-base font-normal text-slate-500">
                    Free and Premium UI Kit's <span class="lg:block"
                        >built with Astro and Tailwind CSS.</span
                    >
                </span>
            </p>
        </div>
        <div class="grid grid-cols-2 gap-8 mt-12 lg:mt-0 xl:col-span-2">
            <div class="md:grid md:grid-cols-2 md:gap-8">
                <div>
                    <h3
                        class="text-black font-display text-lg lg:text-xl tracking-wide"
                    >
                        Navigation
                    </h3>
                    <ul role="list" class="mt-4 space-y-2">
                        <li>
                            <a
                                href="/system/overview"
                                class="text-sm text-slate-500 hover:text-black"
                            >
                                Overview
                            </a>
                        </li>
                        <li>
                            <a
                                href="/system/style-guide"
                                class="text-sm text-slate-500 hover:text-black"
                            >
                                Style Guide
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3
                        class="text-black font-display text-lg lg:text-xl tracking-wide"
                    >
                        Stay updated
                    </h3>
                    <ul role="list" class="mt-4 space-y-2">
                        <li>
                            <a
                                href="https://www.lexingtonthemes.com/license"
                                class="text-sm text-slate-500 hover:text-black"
                            >
                                License
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://www.lexingtonthemes.com/documentation"
                                class="text-sm text-slate-500 hover:text-black"
                            >
                                Documentation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:grid md:grid-cols-2 md:gap-8">
                <div class="mt-12 md:mt-0">
                    <h3
                        class="text-black font-display text-lg lg:text-xl tracking-wide"
                    >
                        Socials
                    </h3>
                    <ul role="list" class="mt-4 space-y-2">
                        <li>
                            <a
                                href="https://twitter.com/lexingtonthemes"
                                class="text-sm text-slate-500 hover:text-black"
                            >
                                @lexingtonthemes
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://twitter.com/Mike_Andreuzza"
                                class="text-sm text-slate-500 hover:text-black"
                            >
                                @Mike_Andreuzza
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mt-12 md:mt-0">
                    <h3
                        class="text-black font-display text-lg lg:text-xl tracking-wide"
                    >
                        More Themes
                    </h3>
                    <ul role="list" class="mt-4 space-y-2">
                        <li>
                            <a
                                href="https://lexingtonthemes.com/"
                                class="text-sm text-slate-500 hover:text-black"
                            >
                                Lexington Themes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div
        class="flex flex-col md:flex-row md:items-center md:justify-between pt-12"
    >
        <div class="flex justify-center gap-12 md:order-2">
            <form
                class="w-full rounded-4xl lg:rounded-full overflow-hidden bg-blue-700 p-4 md:p-2"
            >
                <div class="flex flex-col lg:flex-row gap-2 w-full">
                    <label class="sr-only" for="email-address"
                        >Email address</label
                    >
                    <input
                        autocomplete="email"
                        class="block w-full px-4 py-2 h-12 border-none bg-transparent appearance-none placeholder-white text-white focus:border-slate-300 focus:outline-none rounded-full focus:ring-slate-300 duration-200 sm:text-sm"
                        id="email-address"
                        name="email"
                        placeholder="Enter your email"
                        required=""
                        type="email"
                    />
                    <button
                        class="px-8 py-2 text-sm rounded-full font-semibold transition-all flex items-center justify-center bg-white text-black hover:bg-lime-500 h-12"
                        type="submit">Subscribe</button
                    >
                </div>
            </form>
        </div>
        <div class="mt-8 md:mt-0 lg:order-1 max-w-sm lg:max-w-none">
            <p class="text-center md:text-left">
                <span class="mx-auto lg:mx-0 mt-2 text-xs text-slate-500">
                    <strong>Sign up for our newsletter.</strong> Subscribe to
                    get the latest design news, articles, resources and
                    inspiration.
                </span>
            </p>
        </div>
    </div>
</div>
