---
const tStageData = [1,2,3,4]
---
<style>
    .c-display:where(.astro-RHIG635Y).c-display--display-2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: 1.14286
}
.c-center:where(.astro-W2GOKGZQ) {
    display: grid;
    place-items: center;
    text-align: center;
}

</style>

<section class="container m-auto c-responsive-section u-bg-white astro-J7PV25F6 astro-WIVZ3U7F">
  <div class="c-container c-container--large astro-J7PV25F6 astro-I4TGLJLN">
    <div class="c-center u-gap-large-3 astro-J7PV25F6 astro-W2GOKGZQ">
      <h2 class="c-display c-display--display-2 astro-J7PV25F6 astro-RHIG635Y">
        汇聚全球30多个国家和地区时装走秀
        <span class="block"></span>
        不落下任何一场。
      </h2>
      <p class="c-subhead c-subhead--subhead-1 c-subhead--default astro-J7PV25F6 astro-YXK5HUPC">
        ⚪3000多个品牌和设计师 ⚪7*24H实时更新
        <span class="h-break-above-tablet astro-J7PV25F6"></span>
          <!-- from basic businesses to sophisticated enterprises. -->
      </p>
    </div>
    <figure class="astro-J7PV25F6  flex items-center justify-center">
      <div class="max-w-7xl">
        <ul class='grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4 mx-4'>
          {
            tStageData.map((item) => (
                <li>
                  <div class="group h-full">
                      <div class="relative">
                          <div class="relative">
                              <div class="relative overflow-hidden rounded-8 bg-buttermilk-100">
                                  <a href="/r/42538/vegane-stir-fry-mie-nudeln-mit-faschiertem-und-brokkoli" class="block">
                                      <div class="aspect-h-3 aspect-w-2">
                                          <img loading="lazy" class="w-full object-cover transition-all duration-200 ease-out group-hover:scale-[1.03]" sizes="(min-width: 640px) calc((100vw - 32px) / 12 * 3), (min-width: 1312px) calc(1280px / 12 * 3), calc(((100vw - 32px) / 12 ) * 4)" alt="Vegane Stir-Fry Mie-Nudeln mit &quot;Faschiertem&quot; und Brokkoli" srcset="https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=16 16w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=32 32w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=48 48w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=64 64w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=96 96w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=128 128w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=256 256w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=375 375w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=640 640w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=750 750w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=828 828w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=1080 1080w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=1200 1200w, https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=1920 1920w" src="https://assets.happyplates.com/media/2096/vegane-stir-fry-ramen-mit-faschiertem-und-brokkoli-1646426525826.jpg?twic=v1/quality=80/focus=50px50p/cover=2:3/resize=1920">
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                </li>
            ))
          }
        </ul>
      </div>
    </figure>
  </div>
</section>
