<div class="px-8 py-24 mx-auto md:px-12 2xl:max-w-7xl lg:pt-32">
  <div class="p-8 lg:p-20 bg-blue-700 rounded-4xl lg:rounded-6xl">
    <div>
      <div class="inline-flex items-center gap-4">
        <div class="w-20 h-1 bg-white hidden md:block"></div>
        <span class="text-xs font-semibold tracking-wide uppercase text-white"
          >Outkast played a significant role in assisting 800+ startups ton
          2023.</span
        >
      </div>
      <p
        class="mt-8 text-4xl font-display font-semibold md:text-6xl lg:text-9xl text-lime-500"
      >
        We create brands, apps
        <span class="md:block md:text-white"> websites &amp; emotions</span>
      </p>
    </div>
    <div
      class="grid text-left grid-cols-1 gap-10 lg:grid-cols-3 lg:gap-32 lg:items-end"
    >
      <p class="text-white text-lg mt-8 lg:col-span-2">
        Our powerful digital agency specializes in crafting captivating user
        experiences. Our skilled team designs outstanding UI visuals and
        carefully planned features. Through our developed products, we garner
        global recognition and appreciation from users worldwide.
      </p>
      <div class="flex">
        <a
          class="flex items-center justify-center w-full h-10 px-8 rounded-full py-2 text-sm transition-all bg-white lg:h-16 md:font-semibold text-slate-600 hover:text-slate-500 sm:w-auto lg:w-full"
          href="/system/overview"
        >
          See all pages</a
        >
      </div>
    </div>
  </div>
</div>
